div.page-title{
	display:inline-block;
}

.top-header .head_info{
	margin-top:-4px;
	position:relative;
}

.top-header .head_info .border-status {
    position: relative;
    padding-top: 4px;
    top: -4px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 40px;
}

.detail-pg .ibox .ibox-content.empty-box {
	padding: 22px 20px 26px;
}

.detail-pg .inner-wrp-padding {
    padding: 12px 20px 5px;
    padding-right: 15px;
}

.detail-pg .col-mid-box .ibox-content i{
	min-width:102px;
}

.detail-pg  table.lane-table{
	position: relative;
}

.detail-pg .col-mid-box i.icon-ocean {
    color: #0e82c2 !important;
    font-size: 25px;
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 12px;
}

.detail-pg .col-mid-box i.icon-airplane {
    color: #34a8e8 !important;
    font-size: 28px;
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 12px;
}

.detail-pg .col-mid-box i.icon-Brokerage----White {
	color: #0e82c2 !important;
	font-size: 40px;
	position: relative;
	display: inline-block;
	top: 0;
	margin-right: 15px;
	margin-left: 16px;
	max-height: 30px !important;
	position: absolute;
	left: 0;
	top: 0;
}

.detail-pg .col-mid-box i.icon-logistics {
    color: #29c5a3 !important;
    font-size: 26px;
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 15px;
}

.detail-pg .col-mid-box i.icon-road {
    color: #33a799 !important;
    font-size: 27px;
    position: relative;
    display: inline-block;
    top: 4px;
    margin-right: 11px;
}

.detail-pg .middle-wrp table th,
.detail-pg .linner-blk table th {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #858d97;
    padding-bottom: 3px;
}

.detail-pg .middle-wrp .first-block table td {
    font-size: 15px;
    color: #212529;
    line-height: 19px;
    font-weight: 400;
    padding-bottom: 10px;
	width: 50%;
}

.detail-pg .middle-wrp .first-block table td span {
	display: inline-block;
	margin-top: 2px;
}

.deals-page .dl-title-wrp .left-wrp,
.deals-page .linner-blk .left-wrp {
    display: inline-block;
}

.deals-page #tab-overview .ibox-content .outer-wrp:nth-of-type(2n+1) {
    background-color: #f7f9fa;
}

.deals-page .outer-wrp.first-wrp {
    border-bottom: 1px solid #dde3ea;
	padding-left: 49px;
}

.deals-page .middle-wrp .dl-title-wrp {
    margin-bottom: 20px;
}

.deals-page .dl-title-wrp .right-wrp,
.deals-page .linner-blk .right-wrp {
    float: right;
    display: inline-block;
}

.deals-page .middle-wrp .dl-title-wrp span.title {
    font-size: 18px;
    color: #1e92d2;
    position: relative;
    top: 4px;
}

.deals-page .middle-wrp .outer-wrp.first-wrp table td,
.deals-page .linner-blk table td {
    font-size: 15px;
    line-height: 17px;
    color: #3E4955;
    padding: 3px 0;
}

.deals-page .middle-wrp .outer-wrp.first-wrp table td.small-td,
.deals-page .linner-blk table td.small-td {
	font-size: 13px;
	line-height: 17px;
	color: #6D7B8C;
}

.deals-page .deal-list-wrp table th:first-child {
    width: 20% !important;
}

.deals-page .deal-list-wrp table th:nth-child(2) {
    width: 15% !important;
}

.deals-page .deal-list-wrp table th:nth-child(3) {
    width: 23% !important;
}

.ibox .icon-task.title-icon {
	top: 0;
	font-size: 21px;
	color: #666;
}

.title-blue {
    color: #1e92d2;
    font-size: 18px;
}

#divNextActivity {
    cursor: pointer;
}

#tab-tasks .filter-wrap {
	width: auto; 
	top: 0px;
	margin-right: 0;
}

td.date{

}

.form-group {
    position: relative;
}

label.inputLabel {
    color: #bbb;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 99;
    display: none;
}

.filled label.inputLabel {
    display: block;
}

.detail-pg .add-task button.ui-datepicker-trigger {
    right: 12px !important;
    top: 8px !important;
}

.error-border {
    border-color: #CD2B1E !important;
}

.delete-link a.del-cont {
    color: #1e92d2 !important;
}

.deals-page .header-dr-type { 
    border-left: none !important;
    padding: 1px 0px 0px 0px;
    margin-left: 0px !important; 
    top: 0px !important;
}

table td.col_td {
	padding-bottom: 0 !important;
}

.detail-list {
    padding-left: 0px;
}

@media (max-width: 1199px) {
	body.detail-pg .col-mid-box {
		padding-left: 7.5px !important;
		padding-right: 7.5px !important;
	}
	
	body.detail-pg .col-left-box {
		padding-right: 7.5px !important;
		height: 100%;
	}
	
	body.detail-pg  .tab-pane  .col-left-box {
		height:auto;
	}
}

@media (max-width: 1000px) {
	.detail-pg table.activity-table thead th:first-child {
		width: 210px!important;
	}
	
	.detail-pg table.activity-table thead  th:nth-child(2) {
		width: 7% !important;
	}
}

@media (max-width: 920px) {
	body.detail-pg .col-mid-box {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	
	body.detail-pg .col-left-box {
		padding-right: 15px !important;
	}
	
	.deals-page .outer-wrp.first-wrp {
		padding-left:20px;
	}

    .deals-page .linner-blk .table-wrp {
        overflow-x: scroll;
        padding-bottom: 15px;
    }
	
	.deals-page .middle-wrp .table-wrp{
		padding-bottom:0;
		margin-left: 29px;
	}
	
	.deals-page .middle-wrp .list-lanes .table-wrp{
		margin-left:0;
	}
	
	.deals-page .middle-wrp .table-wrp tr.text-center{
		text-align:left !important;
	}
	
	.top-header .head_info .border-status {
		margin-left: 9px;
	}
	
	.detail-pg .col-mid-box i.icon-Brokerage----White {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
    .deals-page .single-dh-tpanel .single-dtab-box {
        padding-right: 15px;
    }

    .deals-page #tab-lanes .lane-box {
        margin-bottom: 30px;
    }

    .deals-page .single-dh-tpanel .single-dtab-box {
        margin-bottom: 20px;
    }

	.deals-page .single-dh-tpanel .single-dtab-box:last-child {
		margin-bottom: 0;
	}

    .deals-page .tb-inner-wrp.b-before::before {
        right: -12px;
    }

    .deals-page .tb-inner-wrp.b-after::after {
        left: 0;
    }
	
	.list-table {
		overflow-x: auto;
		width: 100%;
		padding-bottom: 15px;
	}

	.list-table table.activity-table {
		width: 100%;
		min-width: 750px;
		margin-bottom: 0;
	}
	
	.detail-pg .top-header .panel-heading {
		padding-top: 10px !important;
	}
	
	.top-header h1{
		margin-bottom:0;
		margin-top:20px;
	}
	
	.top-header .head_info .border-status {
		margin-left: 0px;
		left:0;
		position:absolute;
		top:-10px;
	}
}

@media (max-width: 575px) {

	table td.col_td{
		width: 100% !important;
		display: table;
	}
	
	table tr td.col_td:last-child table{
		margin-top:5px;
	}
	
	.detail-pg .middle-wrp table th {
		width: 50%;
	}
	
	.deals-page .middle-wrp .list-lanes .table-wrp tr td{
		font-size:13px!important;
	}
	
	.deals-page .middle-wrp .list-lanes table.lane-table tr th, 
	.deals-page .middle-wrp .list-lanes table.lane-table tr td {
		width: 27.5% !important;
	}
	
	.deals-page .middle-wrp .list-lanes .inner-wrp-padding {
		padding: 6px 8px 5px !important;
	}
	
	.detail-pg .col-mid-box .ibox-content i {
		min-width: inherit;
		margin-right: 14px;
	}
}
	
@media (max-width: 499px) {
    .deals-page .header-dr-type {
        display: block;
        border-left: 0;
        margin-bottom: 30px;
        padding-left: 0;
    }
	
	.top-header h1 {
		margin-top: 30px;
	}
	
	.top-header .head_info .border-status {
		top:5px;
	}

    .detail-pg .top-header .page-title {
        margin-right: 0;
    }

    header .mobile-header-dropdown {
        display: block;
        margin-top: 15px;
    }
	
	body.detail-pg header .mobile-header-dropdown {
		margin-top: 10px;
	}

    .header-dropdown.dropdown-wrapper {
        width: auto;
        float: none;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    a.edit-button {
        width: 48% !important;
        line-height: 23px;
        position: relative;
        top: 0;
        float: left;
    }

    .deals-page .mobile-header-dropdown .ae-dropdown {
        width: 48% !important;
        float: right;
    }

    .detail-pg .header-dropdown.dropdown-wrapper::after {
        content: '';
        display: table;
        line-height: 1;
        clear: both;
    }

    .deals-page .single-dh-tpanel .single-dtab-box {
        margin-bottom: 0px;
    }

	.deals-page .top-header .sub-title.desktop,
	.deals-page .header-dr-type .deal-type,
    .deals-page .tb-inner-wrp {
        display: none;
    }

    .deals-page .top-header .sub-title.mobile,
	.deals-page .tb-inner-wrp.selected {
		display: block;
	}
	
   .detail-pg a.edit-button{
	   width:100% !important;
   }
   
   .detail-pg #content .section-content{
	   margin-bottom:-40px;
   }
   
   .detail-pg .top-header .sub-title {
		margin-top: -5px !important;
	}
	
	.detail-pg .head_info {
		text-align: left!important;
	}
	
	.deals-page .header-dr-type{
		margin-top: -9px;
	}
	
	.detail-pg .head_info h1 {
		font-size: 21px;
	}
	
	span.sales-owner-flag{
		display:none;
		margin-left:0;
		margin-bottom:4px;
	}
	
	.delete-link a.del-cont{
		display:none;
	}
	
}