/* header */
header.top-header {
	border: 0;
	margin-bottom: 15px;
	padding-top: 12px;
	padding-bottom: 9px;
}
.mobileBtn{
	display:none!important;
}
.top-header  h1{
	position: relative;
	margin-bottom: 0;
	top: 3px;
}
header.top-header .add-new-btn{
	margin-right: 0px;
}
header.top-header .add-new-btn a{
	margin-left: 0;
}
.top-header .add-new-btn a{
	min-width: 80px;
}
.top-header .add-new-btn.btn-task {
	margin-right: 3px;
}
.top-header .select-box-wrp {
	width: 170px;
	float: left;
	margin-right: 10px;
}

.headerBtns{
	display:inline-block;
}

/* filters */
#main .column-filters {
    padding-left: 20px;
}
#main .column-filters .column {
    padding-left: 30px;
}
#main .column-filters .form-group {
    margin-bottom: 0px;
}
#main .column-filters .column:first-child {
    padding-right: 20px;
}
#main .column-filters input[type="checkbox"]:not(:checked) + label:after, #main .column-filters input[type="checkbox"]:checked + label:after {
    left: -26px;
}


/* uncategorized */
.fc-button-group .fc-icon.fc-icon-left-single-arrow {
    left: -4px;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.wrapper-content {
		width: 1500px;
	}
}

#content .section-content {
	margin-top: 5px;
}

#calendar {
	background:#fff;
	padding:20px;
	z-index:0;
	position:relative;
	padding-top: 12px;
}

.fc-toolbar.fc-header-toolbar {
	margin-bottom: 18px;
}

#calendar h2 {
	color: #3E4955;
	font-size: 24px;
	font-weight: 400;
	line-height: 29px;
}

.fc button .fc-icon {
	position: relative;
	top: -1px;
	margin: 3px;
	vertical-align: middle;
}

.fc-time.fc-widget-content span, 
#calendar table tr td.fc-day-top span {
	color: #6D7B8C;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	width: 40px;
	text-align: right;
	padding-right: 7px;
	padding-top: 4px;
}

#calendar table .fc-day-header a, #calendar table .fc-day-header span {
	color: #3E4955;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	width: 40px;
	text-transform: capitalize;
}

#calendar table .fc-head thead{
	height:34px;
}

#calendar table thead th{
	vertical-align:middle;
	height: 34px;
}

a.action-btn,
a.fc-ev-edit,
.fc-button-group button.fc-button,
button.fc-prev-button.fc-button,
button.fc-next-button.fc-button,
button.fc-today-button.fc-button{
	transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	outline:none;
}


.fc-unthemed .fc-content, .fc-unthemed .fc-divider, 
.fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, 
.fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, 
.fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
	border-color: #BFCAD7;
}

.fc-header-toolbar .fc-right,
.fc-header-toolbar .fc-left{
	position:relative;
	top:2px;
}

.fc-button-group button.fc-button,
button.fc-today-button.fc-button {
	border: 1px solid #BFCAD7;
	border-radius: 1px;
	width: 62px;
	height: 28px;
	font-size: 14px;
	color: #BFCAD7;
	font-weight: 400;
	background: #fff;
	text-transform: capitalize;
	text-shadow: none;
	opacity: 1;
	padding-top: 0px;
	box-shadow:none;
}

button.fc-today-button.fc-button {
	padding-bottom:1px;
}

.fc-button-group button.fc-button{
	color: #6D7B8C;
}

button.fc-today-button.fc-button:hover{
	border: 1px solid #1e92d2;
	color:#1e92d2;
}

.fc-button-group button.fc-button.fc-state-active{
	border: 1px solid #0077BC;
	background-color:#1e92d2;
	color:#fff;
}

button.fc-prev-button.fc-button,
button.fc-next-button.fc-button{
	height: 28px;
	border-radius: 1px;
	border: 1px solid #BFCAD7;
	background:#fff;
	width:32px;
}

button.fc-prev-button.fc-button:hover,
button.fc-next-button.fc-button:hover{
	border-color: #359dd7;
}

.fc-icon-right-single-arrow::after, 
.fc-icon-left-single-arrow::after {
	content: "\2039";
	font-weight: 300;
	font-size: 25px;
	top: -1px;
	color: #359dd7;
}

.fc-icon-right-single-arrow::after {
	content: "\203A";
	left: -5px;
}

.fc-unthemed td.fc-today {
	background-color: transparent;
	border: 1px solid #0077BC;
	position: relative;
	border-left: 2px solid #0077BC;
	border-spacing: 10px;
}

.fc-bg .fc-widget-content.fc-today{
	box-shadow: -1px 0px 0px 0px #0077BC inset;
}

.fc-unthemed .fc-bg .fc-widget-content.fc-today::before {
	content: '';
	background: none;
	position: absolute;
	margin-right: 0px;
	z-index: 1;
	top: 0;
	background: #f7fdff;
	left: -1px;
	right: 1px;
	top: 0;
	bottom: 0;
}

.fc-unthemed .fc-day.fc-widget-content.fc-today::after {
	content: '';
	background: #0077BC;
	position: absolute;
	z-index: 999;
	bottom: 0;
	width: calc(100% + 2px);
	height: 1px;
	margin-bottom: 0px;
}

.fc-agendaWeek-view .fc-day.fc-widget-content.fc-today::after{
	display:none;
}

#calendar table tr td.fc-day-top.fc-today .fc-day-number{
	color: #0077BC;
	font-weight:600;
}

.fc-event .fc-content{
	color: #ECF0F4;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	text-align: left;
	padding:3px 3px 4px;
	border-radius:2px;
}
.fc-event .fc-content .fc-company{
	font-size:11px;
	display:block;
}

.fc-day-grid-event{
	margin:2px 4px;
}

.fc-day-grid-event .fc-time{
	font-weight:600;
	font-size:11px;
}

/*#calendar .future-event{
	background-color: #039280 !important;
	border-color: #039280 !important;
}

#calendar .past-event{
	background-color: #A2AFBD !important;
	border-color: #A2AFBD !important;
}*/

#calendar .fc-divider.fc-widget-header{
	padding:0;
	border-bottom:0;
}

.fc-ltr .fc-time-grid .fc-event-container {
	margin: 0 2.5% 0 2.5%;
}

#calendar .fc-agenda-view table  .fc-day-header.fc-today a {
	color: #fff;
	display: block;
	text-align: center;
	height: 36px;
	line-height: 33px;
	background: #0077BC;
	margin-left: -1px;
	z-index: 1;
	position: relative;
	width: calc(100% + 2px);
	margin-top: -1px;
	margin-bottom: -1px;
}

#calendar .fc-toolbar .fc-button-group button.fc-month-button{
	width:65px;
}

#calendar .fc-toolbar .fc-button-group button.fc-agendaWeek-button{
	width:60px;
}

#calendar .fc-toolbar .fc-button-group button.fc-agendaDay-button{
	width:46px;
}


/* Event Modal */

#fc_eventModal div,
.ui-dialog.ui-widget{
	font-family:'open sans';
}

.ui-dialog.ui-widget.ui-widget-content{
	padding:0;
	border-radius:0;
	border:1px solid #e2e6eb;
	z-index: 1;
}

.ui-dialog.ui-widget .ui-dialog-titlebar{
	background:#0077bc;
}

.ui-dialog.ui-widget .ui-widget-header {
	background: #0077bc;
	border-radius: 0;
	border: 0;
	padding: 10px 10px;
}

.ui-dialog.ui-widget .ui-dialog-title{
	font-size:17px;
	font-weight:400;
	color:#fff;
}

.ui-dialog.ui-widget button.ui-dialog-titlebar-close {
	background: none;
	border: 0;
	box-shadow: none;
	margin-top: -5px;
	margin-right: 1px;
	outline: none !important;
	position: absolute;
	right: 0;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	opacity:.7;
}

.ui-dialog.ui-widget button.ui-dialog-titlebar-close:hover{
	opacity:1;
}

#fc_eventModal {
	padding:0;
}

#fc_eventModal  .fc-ev-wrap{
	padding:9px 10px 0;
}

#fc_eventModal .fc-ev-acts{
	padding:8px 10px;
	border-top:1px solid #e2e6eb;
	text-align:right;
}

#fc_eventModal .fc-ev-meta{
	margin-top:12px;
	position:relative;
	padding-left:26px;
}

#fc_eventModal .fc-ev-meta::before {
	width: 17px;
	height: 16px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: -1px;
	color: #1a85c2;
	font-size: 15px;
}

#fc_eventModal .fc-ev-meta.icon-map-pin::before {
	font-size:17px;
	top:-3px;
}

#fc_eventModal .fc-ev-meta.icon-description::before {
	font-size: 10px;
	top: 6px;
}

#fc_eventModal .fc-ev-title{
	font-size:12px;
	font-weight:600;
	color:#3e4955;
}

#fc_eventModal .fc-ev-txt{
	font-size:12px;
	color:#818d9c;
	margin-top:4px;
	line-height:1.4;
}

#fc_eventModal .fc-ev-gimg{
	width:35px;
	float:left;
}

#fc_eventModal  .fc-ev-ginfo{
	float:left;
	margin-left:10px;
}

#fc_eventModal .fc-ev-gimg img{
	width:32px;
	height:32px;
	border:1px solid #c1cbd8;
	border-radius:100%;
}

#fc_eventModal ul.fc-ev-glist{
	padding:0;
}

#fc_eventModal ul li{
	width:100%;
	display:block;
	margin-top:10px;
}

#fc_eventModal .fc-ev-descp,
#fc_eventModal ul .fc-ev-gnm{
	font-size:12px;
	color:#565f6a;
}

#fc_eventModal ul .fc-ev-gprof{
	font-size:10px;
	color:#828e9d;
	display:block;
	margin-top:3px;
	line-height:1.4;
}

#fc_eventModal .fc-ev-delete {
	width: 14px;
	height: 16px;
	display: inline-block;
	margin-right: 15px;
	position: relative;
	top: 3px;
	background-size: contain;
}

#fc_eventModal a.fc-ev-edit {
	background: #1e92d2;
	color: #fff;
	font-size: 13px;
	padding: 4px 28px;
	display:inline-block;
}

#fc_eventModal a.fc-ev-edit:hover{
	background:#106595;
	text-decoration:none;
}

/* SweetAlert Popups */

.cal-page .swal2-popup.swal2-modal{
	border-radius:0;
	background:#fff;
	width:34.4em;
	padding-bottom: 15px;
}

.cal-page .swal2-popup .swal2-header .swal2-icon{
	display:none !important;
}

.cal-page .swal2-popup #swal2-content,
.cal-page .swal2-popup .swal2-header{
	text-align:left;
	display: block;
}

.cal-page .swal2-popup .swal2-header h2 {
	color: #454d5a;
	font-size: 24px;
	font-weight: 400;
}

.cal-page .swal2-popup #swal2-content{
	color: #212529;
	font-size: 14px;
	font-weight: 500;
	margin-top:2px;
}

.cal-page .swal2-popup #swal2-content .chk-box-wrp{
	margin-top:20px;
	color:#4c5360;
}

.cal-page .swal2-popup #swal2-content .chk-box-wrp label{
	margin-left:2px;
}

.cal-page .swal2-popup #swal2-content .chk-box-wrp .doc-title{
	position: relative;
	top: 4px;
	left: -3px;
}

.cal-page .swal2-popup .swal2-actions{
	display:block !important;
	margin:0;
	text-align:right;
	margin-top:60px;
	z-index: 0;
}

.cal-page .swal2-popup .swal2-close {
	width: 35px;
	height: 35px;
	font-size: 39px;
	line-height: 34px;
	text-align: center;
	color: #aaa;
	font-weight: 300;
}

.cal-page .swal2-popup .swal2-actions .swal2-cancel{
	border: 1px solid #1E92D2;
	border-radius: 1px;
	width: 120px;
	height: 36px;
	font-size: 14px;
	color: #1E92D2;
	margin-right: 15px;
	background:#fff;
	padding: 5px;
	margin:0;
}

.cal-page .swal2-popup .swal2-actions .swal2-cancel:hover{
	background-color: #1E92D2;
	color:#fff;
}

.cal-page .swal2-popup .swal2-actions button.swal2-confirm{
	border-radius: 1px;
	width: 150px;
	height: 36px;
	font-size: 14px;
	color: #fff;
	margin-right: 15px;
	padding: 5px;
	padding-top:4px;
	margin:0;
	box-shadow:none;
	color:#fff;
	margin-left:10px;
}

.cal-page .swal2-cancel.swal2-styled{
	position:relative;
	top:1px;
}

.cal-page .swal2-cancel.swal2-styled.left-cancel{
	float:left;
}

.note-modal-backdrop,
.cal-page .swal2-container.swal2-shown{
	background-color: rgba(77, 92, 116, 0.9);
	opacity:1;
}

.chk-box-wrp{
	margin-left:30px;
}

input[type="checkbox"]:not(:checked) + label::before, input[type="checkbox"]:checked + label::before {
	width: 20px;
	height: 20px;
}

input[type="checkbox"]:checked + label::before{
	background:#1e92d2;
	border:1px solid #1e92d2;
}

input[type="checkbox"]:checked + label::after{
	color:#fff;
}

a:not([href]) {
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 920px)
{
	.head_info{
		margin-top:0;
		text-align:left;
	}
}

@media (max-width: 880px)
{
	div.col-dropdown {
		display: block;
		width: 100%;
		margin-top: 10px;
	}
	
	#main .column-filters {
		margin-top:5px;
	}
	
	#main .column-filters .no-gutters{
		float:right;
	}
}

@media (max-width: 575px)
{
	#calendar h2 {
		margin-top: 12px;
		margin-bottom: -10px;
		float:none;
		font-size:20px;
	}
	
	#calendar table .fc-day-header a, #calendar table .fc-day-header span {
		font-size: 13px;
	}
	
	.fc-scroller {
		height: auto !important;
	}
	
	.ui-dialog.ui-widget.ui-widget-content::before {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.8);
		z-index: -1;
	}
	
	.fc-toolbar.fc-header-toolbar {
		padding-top: 35px;
	}
	
	.fc-toolbar .fc-center {
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		top: -3px;
	}
	
	#main .column-filters {
		position: absolute;
		right: 23px;
		top: 50px;
		z-index:1;
		width: auto;
	}
	
	.headerBtns{
		position: absolute;
		top: -37px;
		right: 0;
	}
	
	.mobileBtn{
		display:inline-block!important;
		margin-left: 5px;
	}
	
	.desktopBtn{
		display:none !important;
	}
}

@media (max-width: 400px){
	button.fc-today-button.fc-button{
		width:50px;
		padding: 0 2px;
		margin-left:5px;
	}
	
	.fc-button-group button.fc-button{
		width:50px;
		padding: 0 2px;
	}
	
	button.fc-prev-button.fc-button, 
	button.fc-next-button.fc-button {
		width: 24px;
		padding: 0 5px;
	}
	
	#calendar .fc-toolbar .fc-button-group button.fc-month-button{
		width:58px;
	}

	#calendar .fc-toolbar .fc-button-group button.fc-agendaWeek-button{
		width:53px;
	}

	#calendar .fc-toolbar .fc-button-group button.fc-agendaDay-button{
		width:38px;
	}
	
	.top-header .select2-container--classic .select2-selection--multiple, 
	.top-header .select2-container .select2-selection--single,
	.top-header .select-box-wrp	{
		width: 155px !important;
	}
}