header.top-header{
	padding-bottom:0;
	padding-top: 12px;
}

div.border-tabs {
    margin-top: 15px;
}

h1.page-title{
	margin-bottom:0 !important;
}

#content .border-tabs .btab {
    padding: 0px 0px 6px 0px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 4px;
}

#content .border-tabs .btab:last-child {
	margin-right: 0px;
}

.mobile-panel-nav {
    display: none;
    padding: 0 15px;
    margin-bottom: 10px;
    margin-top: 13px;
}

.mobile-panel-nav ul.dropdown-nav li:hover {
	background-color: #1E92D2;
	box-shadow: none;
}

.mobile-panel-nav ul.nav-tabs li a {
	border-radius: 0;
	margin-right: 0;
}

h1.page-title {
    margin-top: 0;
    margin-bottom: 0px;
}

.new-block {
	position:absolute;
	top:12px;
	right:8px;
}

    .new-block input[type="text"] {
		background-color: #FFFFFF;
		border: 1px solid #BFCAD7;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0 0 5px 0 rgba(45, 48, 53, 0.2);
		width: 200px;
		height: 32px;
		font-size: 13px;
		font-weight: 400;
		padding-left: 11px;
		float: left;
		padding-top: 3px;
		padding-bottom: 3px;
		border-radius:4px 0 0 4px;
		border-right:0;
	}

    .new-block .add-new-btn {
        float: left;
        margin-left: 0px;
    }
	
	.new-block .add-new-btn a {
		font-size: 0 !important;
		font-weight: normal !important;
		padding-top: 4px !important;
		padding-bottom: 3px !important;
		height: 32px;
		width: 32px;
		border-radius:0 4px 4px 0;
	}

	.new-block .add-new-btn a:hover {
		background: #106595;
	}

	.new-block .add-new-btn a i.icon-plus {
		position: relative;
		top: 5px;
		margin-right: ;
		font-size: 13px !important;
		font-weight: normal !important;
		left: -6px;
	}

.list-table thead tr th {
    border: 0 !important;
    font-size: 14px;
    font-weight: 400;
    color: #454D5A;
    text-transform: none;
    padding-left: 75px;
}

.list-table tbody tr {
    background: #fff !important;
    border: 0 !important;
}

    .list-table tbody tr td {
        padding: 10px 15px 0;
        border: 0 !important;
    }
	
	.list-table tbody tr:last-child td {
        padding-bottom: 15px;
    }

        .list-table tbody tr td .item-holder {
            background-color: #F7F9FA;
            height: 50px;
            border: 1px solid #DDE3EA;
            box-shadow: rgba(33, 37, 41, 0.019999999552965164);
            padding: 6px;
        }

i.move-item {
    width: 22px;
    height: 22px;
    background-size: cover;
    display: block;
    margin-top: 7px;
    margin-left: 6px;
    float: left;
    margin-right: 22px;
	font-size: 22px;
}

a.delete-item {
	width: 14px;
	height: 14px;
	display: block;
	float: right;
	margin-right: 7px;
	margin-top: 9px;
	cursor: pointer;
	font-size: 14px;
}

.item-holder input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #BFCAD7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0 0 5px 0 rgba(45, 48, 53, 0.2);
    width: 350px;
    height: 36px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #3E4955;
    padding-left: 10px;
    margin-left: 15px;
}

.list-table tbody tr:hover {
    background: #fff;
}

.highlight {
    border: 1px dashed #ebedee;
}

tr.highlight {
    height: 72px !important;
}

tr.ui-sortable-helper {
    height: 70px !important;
    background-color: transparent !important;
}

    tr.ui-sortable-helper td {
        background-color: transparent !important;
        padding: 11px 15px 11px;
    }

.handle {
    cursor: move;
}

input[type="text"].sales-percentage {
    margin-left: 70px;
    width: 43px;
}

.new-block input[type="text"].sales-percentage {
    margin-left: 0px;
    padding: 5px;
	border-radius:0;
}

.percent-label {
	background-color: #ECF0F4;
	border: 1px solid #BFCAD7;
	width: 30px;
	height: 32px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	line-height: 29px;
	margin-left: 0px;
	float: left;
	border-radius:0 4px 4px 0;
}

.new-stage.new-block .add-new-btn{
	margin-left:10px;
	margin-top:-1px;
}

.new-stage.new-block .add-new-btn a{
	border-radius:4px;
}

.new-source-name.new-block .add-new-btn,
.new-industry.new-block .add-new-btn,
.new-competitor.new-block .add-new-btn,
.new-commodity.new-block .add-new-btn,
.new-tag.new-block .add-new-btn{
	margin-top:-1px;
}


#divSalesStages table thead th:first-child {
    width: 418px;
}

@media (max-width: 992px) {
    .mobile-panel-nav {
        display: block;
        width: 100%;
    }

    .border-tabs {
        display: none;
    }
}

@media (max-width: 767px) {
	.wrapper{
		margin-top:15px;
	}
}
	
@media (max-width: 699px) {
    #divSalesStages table thead th:first-child {
        width: 270px;
    }

    input[type="text"]#txtNewSalesStage,
    input[type="text"].sales-stage-name {
        width: 203px;
    }
}

@media (max-width: 599px) 
{
    .list-table thead tr th {
        padding-left: 65px;
    }

    .item-holder i.move-item {
        margin-right: 15px;
    }

    .item-holder input[type="text"] {
        width: calc(100% - 75px);
        margin-left: 0;
    }
	
	.list-table thead tr th {
		font-size: 13px;
	}

    #divSalesStages table thead th:first-child {
        width: 184px;
    }

    #divSalesStages table thead th:nth-child(2) {
        padding-left: 0;
    }

	input[type="text"]#txtNewSalesStage{
		width:110px;
		padding-top:9px;
	}
	
	input[type="text"]#txtNewSalesStage {
		width:150px;
		padding-top: 3px;
		margin-right: -10px;
	}

    input[type="text"].sales-stage-name {
        width: calc(100% - 165px);
    }

    input[type="text"].sales-percentage {
        margin-left: 10px !important;
        width: 43px !important;
		padding-top:7px!important;
    }
}

@media (max-width: 550px) 
{
	.new-block {
		top: 94px;
		right: 10px;
		left:17px;
	}
	
	.mobile-panel-nav {
		margin-bottom: 50px;
		margin-top: 8px;
	}
	
	.new-block input[type="text"] {
		width:calc(100% - 42px);
	}
	
	input[type="text"]#txtNewSalesStage {
		width: calc(100% - 125px);
		padding-top: 3px;
		margin-right: -10px;
	}
}