
.ibox-content #divReportFilter{
	max-width:650px;
}

#divReportContent .ibox-content {
    overflow-x: scroll;
    background-color: #ffffff !important;
    color: inherit;
    padding: 20px 35px;
}

#tblCompaniesReport {
    max-width: 210%;
    width: 210%;
}

.table-wrapper table .text-muted {
    opacity: 0.7;
}

/* alignments */
.center,
.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-justify {
    text-align: justify;
}

.middle {
    vertical-align: middle;
}

.align-middle {
    vertical-align: middle !important;
}

.align-top {
    vertical-align: top !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

#btnExcel {
    color: #fff;
}

button.btn.btn-success:active,
button.btn.btn-success:focus,
button.btn.btn-success,
a.btn.btn-success:active,
a.btn.btn-success:focus,
a.btn.btn-success {
    background-color: #1E92D2;
    border-radius: 1px;
    width: 150px;
    height: 36px;
    box-shadow: none;
}

button.btn.btn-success:hover,
a.btn.btn-success:hover {
	background-color: #106595;
}


.ibox-content {
    padding: 20px;
    background-color: white;
}


.form-group {
    position: relative;
}


label.inputLabel {
    color: #bbb;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 99;
    display: none;
}


.filled label.inputLabel {
    display: block;
}

@media (max-width: 768px) {
	.ibox-content{
		max-width:100%;
	}
}
