.form-group {
    position: relative;
}

label.inputLabel {
    color: #BFCAD7;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 9;
}

.W100P {
    width: 100% !important;
}

.cal-evpg #content .section-content {
    background-color: #FFFFFF;
    border: 1px solid #E2E6EB;
    box-shadow: 0 1px 8px 0 rgba(33, 37, 41, 0.05999999865889549);
}

.timeBox i {
    position: absolute;
    color: #2e9ad5;
    right: 9px;
    top: 50%;
    margin-top: -7px;
    font-size: 14px;
}

/* Calendar */
.cal-evpg {
    position: absolute;
    top: 0;
    background: #ecf0f4;
    left: 0;
    right: 0;
}

.dp-wrap,
.dt-wrap {
    position: relative;
}

    .dt-wrap::before {
        content: "\e914";
        font-family: icomoon;
        font-size: 10px;
        font-weight: 300;
        color: #414a57;
        position: absolute;
        top: 12px;
        right: 10px;
    }

button.ui-datepicker-trigger {
    position: absolute;
    right: 12px;
    top: 7px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: #444;
    font-size: 14px;
}

.section-event-edit .swal2-popup .swal2-actions .swal2-cancel,
.section-event-edit .swal2-popup .swal2-actions button.swal2-confirm,
.section-event-edit input[type="checkbox"]:checked + label::before {
    transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
}

body.cal-evpg {
    padding-bottom: 50px;
}

.cal-evpg .top-header {
    border: 0;
    background: #F7F9FA;
    padding-top: 12px;
    padding-bottom: 14px !important
}

    .cal-evpg .top-header .select2 {
        width: auto !important;
    }

.section-event-edit .wrapper-content {
    padding: 20px;
    padding-bottom: 10px;
}

.section-content {
    margin-top: 0;
    margin-bottom: 60px;
}

.section-event-edit .top-header .page-title {
    float: left;
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 0;
}

.form-group input[type="text"] {
    height: 36px;
}

.iconField {
    position: relative;
}

    .iconField .iconWrap {
        position: absolute;
        height: 34px;
        background: #F3F7FA;
        width: 36px;
        z-index: 9;
        text-align: center;
        line-height: 36px;
        font-size: 16px;
        color: #1e92d2;
        top: 1px;
        left: 1px;
        border-right: 1px solid #BFCAD7;
    }

    .iconField input[type="text"] {
        padding-left: 50px;
    }


/* Select 2 */
.select2-container .select2-selection--single .select2-selection__clear {
    right: 8px;
    font-size: 15px;
}

.iconField .select2-selection.select2-selection--single {
    padding-left: 36px;
}

#select2-ddlCategory-container i.fa-square,
#select2-ddlCategory-results i.fa-square {
    width: 15px;
    height: 15px;
    color: transparent;
    margin-right: 4px;
}

#select2-ddlCategory-results i.fa-square,
#select2-ddlCategory-container i.fa-square {
    position: relative;
    top: -1px;
    margin-left: 0px;
}

#select2-ddlCategory-container .select2-selection__placeholder i.fa-square {
    background: #ECF0F4;
    margin-right: 7px;
}

.cal-evpg .select2-selection.without-bg {
    border: 0;
    background-color: transparent;
    height: 26px;
}

    .cal-evpg .select2-selection.without-bg .select2-selection__rendered {
        background-color: #f7f9fa;
        font-size: 12px;
        color: #6D7B8C;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        padding-right: 10px;
    }

    .cal-evpg .select2-selection.without-bg .select2-selection__arrow b::before {
        font-size: 8px;
        color: #6D7B8C;
        right: -8px;
    }

.cal-evpg #ddlTimezone + .select2 {
    height: 25px;
}

.cal-evpg .datetime-box {
    background-color: #F7F9FA;
    padding: 15px;
    margin-bottom: 1rem;
    padding-bottom: 12px;
}

    .cal-evpg .datetime-box .input-group-addon {
        background-color: #F3F7FA;
        border: 1px solid #BFCAD7;
        width: 57px;
        height: 36px;
        color: #0077BC;
        border-right: 0;
        font-size: 13px;
        line-height: 2.59;
        text-align: center;
    }

    .cal-evpg .datetime-box .form-group:last-child {
        margin-bottom: 0;
    }

    .cal-evpg .datetime-box input.date-picker {
        width: 233px;
        background-size: 24px;
        padding-right: 35px;
        cursor: pointer;
    }

    .cal-evpg .datetime-box .W100P .dp-wrap {
        width: calc(100% - 57px);
    }

    .cal-evpg .datetime-box .W100P input.date-picker {
        width: 100%;
    }

    .cal-evpg .datetime-box .W100P .dt-wrap::before {
        display: none;
    }

    .cal-evpg .datetime-box input.time-picker {
        width: 100px;
        border-left: 0;
        cursor: pointer;
    }

.cal-evpg .chk-box-wrp {
    margin-left: 30px;
    margin-top: 7px;
}

.cal-evpg .datetime-box .chk-box-wrp label {
    margin-bottom: 0;
}

.cal-evpg .ddNotify .chk-box-wrp,
.cal-evpg .repeat-box .chk-box-wrp {
    position: relative;
    top: 6px;
}

    .cal-evpg .repeat-box .chk-box-wrp .doc-title {
        position: relative;
        top: -1px;
        left: -4px;
        font-size: 14px;
    }

    .cal-evpg .ddNotify .chk-box-wrp .doc-title {
        position: relative;
        top: 1px;
        left: -1px;
        font-size: 14px;
    }

.cal-evpg .ddRepeat,
.cal-evpg .notify-box {
    display: none;
}

.cal-evpg .notify-box {
    margin-top: 20px;
}

.cal-evpg .ddNotify .row {
    margin-top: 15px;
}

.cal-evpg .users-list {
    padding: 0 8px;
    border: 1px solid #BFCAD7;
    border-top: 0;
    border-radius: 0 0 2px 2px;
}

    .cal-evpg .users-list td {
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .cal-evpg .users-list tr td:first-child {
        width: 62px;
    }

    .cal-evpg .users-list .user-type {
        color: #0077BC;
        font-size: 13px;
        position: relative;
        top: 1px;
    }

    .cal-evpg .users-list .select2 {
        width: 90px !important;
        height: 25px;
        margin-left: -7px;
        margin-top: -2px !important;
        background: #fff;
    }

    .cal-evpg .users-list .select2-selection.without-bg .select2-selection__rendered {
        background-color: transparent;
        font-size: 14px;
        color: #2d99d5;
        font-weight: 400;
        line-height: 24px;
        text-transform: none;
        position: relative;
        top: 1px;
        left: 1px;
        padding-left: 5px;
    }

    .cal-evpg .users-list .select2-selection.without-bg .select2-selection__arrow b::before {
        font-size: 8px;
        color: #2d99d5;
        right: -20px;
        top: -1px;
    }

    .cal-evpg .users-list .select2-container--open .select2-selection--single {
        background: none;
        border: 1px solid #1e92d2;
    }

    .cal-evpg .users-list .select2 .without-bg .select2-selection__arrow b {
        margin-left: -22px;
        top: 11px;
    }

    .cal-evpg .users-list .invite-type::before {
        width: 3px;
        height: 3px;
        content: '';
        position: absolute;
        border-radius: 100%;
        background: #a2afbd;
        top: 10px;
        left: -2px;
        display: none;
    }

    .cal-evpg .users-list tr {
        border-top: 1px solid #dde3ea;
    }

    .cal-evpg .users-list table {
        margin-bottom: 0;
    }

        .cal-evpg .users-list table tbody tr:first-child {
            border: 0;
        }

        .cal-evpg .users-list table tbody tr:hover {
            background: none;
        }

    .cal-evpg .users-list .invite-type {
        position: relative;
    }

	.cal-evpg .users-list p.text-black {
		margin-bottom: -2px !important;
		margin-top: 3px;
		font-size: 16px;
		word-break: break-all;
		padding-right: 20px;
	}

    .cal-evpg .users-list span.user-type {
        color: #2d99d5 !important;
        font-size: 14px;
        margin-right: 15px;
    }

    .cal-evpg .users-list i {
        background: #aaaaaa;
        width: 20px;
        height: 20px;
        display: inline-block;
        color: #fff !important;
        border-radius: 100%;
        font-size: 19px;
        text-align: center;
        line-height: 20px;
        display: none;
    }

.section-event-edit .form-group.disabled {
    opacity: .8;
    pointer-events: none;
}
.section-event-edit .select2-container--disabled .select2-selection--single {
    background-color: white;
}
.section-event-edit .select2-container--disabled .select2-selection--single .select2-selection__arrow {
    display: none;
}

label[for="chkAllDay"] a {
    color: #454D5A;
    font-size: 14px;
}

input[type="checkbox"]:not(:checked) + label::before, input[type="checkbox"]:checked + label::before {
    width: 20px;
    height: 20px;
    top: 2px;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label::before {
    background: #1e92d2;
    border: 1px solid #1e92d2;
    border-radius: 2px;
}

input[type="checkbox"]:checked + label::after {
    color: #fff;
    top: 6px;
    border-radius: 2px;
}

.remindCheckboxes .chk-box-wrp {
    margin-top: 7px;
    display: inline-block;
    margin-right: 10px;
}

.cal-evpg .form-group.ddNotify {
    margin-bottom: 25px;
    margin-top: -7px;
}

.due_datepicker .ui-datepicker-unselectable span {
    opacity: .3;
}

#ui-datepicker-div table td.ui-datepicker-today a {
    color: #555;
    font-weight: 600;
}

.select2-container--classic .select2-selection--multiple,
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--multiple,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border-radius: 2px !important;
    border: 1px solid #BFCAD7;
}

/* Editor */
.bottom-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

    .bottom-box .note-editor {
        background-color: #FFFFFF;
        border: 0;
        border-top: 1px solid #BFCAD7;
        margin-top: 10px;
        border-radius: 2px;
    }

.note-editing-area {
    border-left: 1px solid #BFCAD7;
    border-right: 1px solid #BFCAD7;
}

.note-editor.note-frame .note-statusbar {
    border-top: 1px solid #BFCAD7;
    background: none;
}

.bottom-box .note-editor .note-toolbar {
    background-color: #F7F9FA;
    border: 0;
    border-left: 1px solid #BFCAD7;
    border-right: 1px solid #BFCAD7;
    height: 30px;
}

.bottom-box .note-editor .note-btn {
    padding: 5px;
    background-color: transparent;
    line-height: 0;
    margin-top: 3px;
    border: 0;
}

.bottom-box .note-editor .note-btn-group {
    margin: 0;
}

.bottom-box .note-editor button i {
    color: #A2AFBD;
    font-size: 12px;
    background-color: transparent;
    padding-right: 5px;
}

.bottom-box .note-editor button.active i {
    color: #555;
}

.bottom-box .note-editor .note-para {
    position: relative;
    padding-left: 4px;
    margin-right: 5px;
}

    .bottom-box .note-editor .note-para::after,
    .bottom-box .note-editor .note-para::before {
        content: '';
        height: 20px;
        width: 1px;
        background: #bfcad7;
        position: absolute;
        top: 4px;
        left: 0;
    }

    .bottom-box .note-editor .note-para:after {
        right: 0;
        left: auto;
    }

.bottom-box .note-placeholder {
    color: #A2AFBD;
}

.bottom-box .section-attachments a {
    color: #1E92D2;
    font-size: 14px;
    font-weight: 400;
}

.ev-fcal .fc-header-toolbar .fc-right,
.ev-fcal .fc-head {
    display: none;
}

.ev-fcal .fc-time-grid .fc-slats .fc-minor td {
    border-top-style: none;
}

.ev-fcal .fc-header-toolbar {
    margin-bottom: 0;
    border: 1px solid #DDE3EA;
    border-bottom: 0;
    padding: 5px 10px 7px;
    background: #f7f9fa;
    border-radius: 2px 2px 0 0;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #BFCAD7;
}


.ev-fcal .fc-header-toolbar h2 {
    font-size: 14px;
}

.ev-fcal .fc-time-grid .fc-slats td {
    height: 1.75em;
    border: 0;
}

.ev-fcal .fc-view-container {
    border: 1px solid #DDE3EA;
    border-top: 0;
    padding-top: 5px;
}

.ev-fcal.fc td {
    border-left-color: #DDE3EA;
    border-right-color: #DDE3EA;
    border-top: 0;
}

.ev-fcal table .fc-axis span {
    font-size: 12px;
    color: #798695;
    margin-top: -27px;
    display: block;
}

.ev-fcal .fc-widget-content {
    border: 0;
    padding-top: 3px;
}

.ev-fcal .fc-slats table {
    background: #fff;
}

.fc-time.fc-widget-content span,
#calendar table tr td.fc-day-top span {
    text-align: right;
    padding-right: 8px;
    padding-top: 6px;

}

.fc-ltr .fc-time-grid .fc-event-container {
   margin: 0px !important;
}

.ev-fcal .fc-minor .fc-widget-content {
    border-left-color: #BFCAD7;
}

.ev-fcal .fc-axis.fc-time.fc-widget-content {
    background: #fff;
    text-align: center;
    border-right-color: #BFCAD7;
}

.ev-fcal table .fc-axis span::after {
    width: 100%;
    height: 1px;
    background: #dde3ea;
    content: '';
    display: block;
    position: absolute;
    margin-top: -10px;
    left: 57px;
}

.ev-fcal .fc-time-grid-event .fc-time {
    display: none;
}

.ev-fcal .fc-axis.fc-time.fc-widget-content {
	background: #fff;
	width: 49px !important;
	text-align: center;
}

.ev-fcal .fc-event .fc-bg {
    opacity: 0;
    border: 0;
}

.ev-fcal .fc-slats {
    margin-top: 14px;
}

.ev-fcal .fc-time-grid-event .fc-title {
    color: #fff;
    font-size: 13px;
    padding: 0px 8px;
}

/*
.ev-fcal .fc-axis.fc-time.fc-widget-content {
    background: #fff;
    text-align: center;
    border-right-color: #BFCAD7;
    padding-top: 4px;
    padding-left: 10px;
}

.ev-fcal .fc-time-grid-event {
    border-radius: 2px;
    margin-bottom: 1px;
    width: 95%;
    margin-top: 20px;
}

.ev-fcal .fc-time-grid .fc-event-container {
    margin: 0px;
}
*/

.section-attachments a i::before {
    transform: rotate(40deg);
    font-size: 11px;
    position: relative;
    top: -2px;
    margin-right: -1px;
}

/* Color Picker */
.cp-wrapper .pickr {
    z-index: auto;
}

    .cp-wrapper .pickr .pcr-app {
        width: 19em;
        transition: none;
    }

.cp-wrapper .pcr-app .pcr-interaction .pcr-save {
    width: 100%;
}

.cp-wrapper .pickr .pcr-button {
    width: 28px;
    height: 28px;
    border-radius: 0;
    position: relative;
    border: 1px solid #ecf0f4;
    margin-top: 4px;
}

    .cp-wrapper .pickr .pcr-button span {
        width: 20px;
        height: 21px;
        background: url('../_img/square-arr.png') no-repeat center;
        display: inline-block;
        position: absolute;
        left: 100%;
        top: 2px;
        margin-left: 4px;
    }

        .cp-wrapper .pickr .pcr-button span:hover {
            opacity: .85;
        }

.cp-wrapper {
    margin-top: 11px;
}

    .cp-wrapper .form-group {
        margin-bottom: 12px;
    }

    .cp-wrapper .pickr {
        width: 72px;
        float: left;
    }

    .cp-wrapper input.cp-input {
        float: left;
        width: 100%;
        max-width: 296px;
    }

/* Footer */

.footer-box {
    background-color: #f7f9fa;
    bottom: 0;
    left: 183px;
    right: 0px;
    z-index: 999;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 20px;
    position: static;
    border: 0;
    box-shadow: none;
    margin-top: -10px;
}

    .footer-box.fixed {
        position: fixed;
    }

    .footer-box button {
        width: 112px;
        max-width: 112px;
        min-width: 112px;
        border-radius: 2px;
        height: 38px;
    }

    .footer-box .cancel-btn {
        margin-right: 10px;
    }

    .footer-box #btnSave {
        float: right;
    }

a.btn.text-danger {
    border: 1px solid #CD2B1E;
    border-radius: 1px;
    width: 146px;
    height: 36px;
    color: #CD2B1E;
    font-size: 14px;
    font-weight: 400;
}

button.btn.btn-white:focus, button.btn.btn-white {
    border: 1px solid #1E92D2;
    border-radius: 1px;
    width: 120px;
    height: 36px;
    font-size: 14px;
    color: #1E92D2;
    margin-right: 15px;
    background: #fff;
    box-shadow: none;
}

    button.btn.btn-white:hover {
        background-color: #1E92D2;
        color: #fff;
    }

button.btn.btn-success:active,
button.btn.btn-success:focus,
button.btn.btn-success {
    background-color: #1E92D2;
    border-radius: 1px;
    width: 150px;
    height: 36px;
    box-shadow: none;
}

    button.btn.btn-success:hover {
        background-color: #106595;
    }

/* SweetAlert Popups */
.section-event-edit .swal2-popup.swal2-modal {
    border-radius: 0;
    background: #fff;
    width: 34.4em;
    padding-bottom: 15px;
}

.section-event-edit .swal2-popup .swal2-header .swal2-icon {
    display: none !important;
}

.section-event-edit .swal2-popup #swal2-content,
.section-event-edit .swal2-popup .swal2-header {
    text-align: left;
    display: block;
}

    .section-event-edit .swal2-popup .swal2-header h2 {
        color: #454d5a;
        font-size: 24px;
        font-weight: 400;
    }

.section-event-edit .swal2-popup #swal2-content {
    color: #212529;
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
}

    .section-event-edit .swal2-popup #swal2-content .chk-box-wrp {
        margin-top: 20px;
        color: #4c5360;
        margin-left: 30px;
    }

        .section-event-edit .swal2-popup #swal2-content .chk-box-wrp label {
            margin-left: 2px;
        }

        .section-event-edit .swal2-popup #swal2-content .chk-box-wrp .doc-title {
            position: relative;
            top: 1px;
            left: -3px;
        }

.section-event-edit .swal2-popup .swal2-actions {
    display: block !important;
    margin: 0;
    text-align: right;
    margin-top: 60px;
    z-index: 0;
}

.section-event-edit .swal2-popup .swal2-close {
    width: 35px;
    height: 35px;
    font-size: 39px;
    line-height: 34px;
    text-align: center;
    color: #aaa;
    font-weight: 300;
}

.section-event-edit .swal2-popup .swal2-actions .swal2-cancel {
    border: 1px solid #1E92D2;
    border-radius: 1px;
    width: 120px;
    height: 36px;
    font-size: 14px;
    color: #1E92D2;
    margin-right: 15px;
    background: #fff;
    padding: 5px;
    margin: 0;
}

    .section-event-edit .swal2-popup .swal2-actions .swal2-cancel:hover {
        background-color: #1E92D2;
        color: #fff;
    }

.section-event-edit .swal2-popup .swal2-actions button.swal2-confirm {
    border-radius: 1px;
    width: 150px;
    height: 36px;
    font-size: 14px;
    color: #fff;
    margin-right: 15px;
    padding: 5px;
    padding-top: 4px;
    margin: 0;
    box-shadow: none;
    color: #fff;
    margin-left: 10px;
}

.section-event-edit .swal2-cancel.swal2-styled {
    position: relative;
    top: 1px;
}

    .section-event-edit .swal2-cancel.swal2-styled.left-cancel {
        float: left;
    }

.note-modal-backdrop,
.section-event-edit .swal2-container.swal2-shown {
    background-color: rgba(77, 92, 116, 0.9);
    opacity: 1;
}

.section-event-edit .swal2-popup.swal-color {
    max-width: 450px !important;
    padding-left: 25px;
}

    .section-event-edit .swal2-popup.swal-color .swal2-actions {
        margin-top: 57px;
    }

.section-event-edit .swal2-popup.swal-attachment {
    width: 100%;
    max-width: 695px !important;
    padding-top: 15px;
}

.section-event-edit .swal_load .swal_img {
    margin: 15px auto 10px;
}

.section-event-edit .swal_load #swal2-content {
    text-align: center;
    font-size: 17px;
    margin-bottom: 15px;
}

.section-event-edit .swal_load .swal2-actions {
    display: none !important;
}

/* Note Modal */

.note-modal-title {
    margin: 0;
    font-size: 24px;
    line-height: 1.4;
    color: #454d5a;
}

.note-modal-body {
    position: relative;
    padding: 20px;
    padding-bottom: 10px;
}

    .note-modal-body .sn-checkbox-open-in-new-window {
        display: none;
    }

    .note-modal-body .note-form-group {
        padding-bottom: 0;
    }

.note-modal-header {
    padding: 7px 20px 10px 20px;
    border: 1px solid #ededef;
}

.note-modal-content {
    border: 0;
}

.note-modal-header .close {
    margin-top: -2px;
    margin-right: -15px;
}

.note-modal-footer {
    height: 54px;
    padding: 10px;
    text-align: center;
    padding-top: 0;
    padding-right: 20px;
}

.note-modal .note-modal-body label {
    display: inline-block;
    padding: 0;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 400;
}

/* Select 2 Ajax Search */
.hide-arrow ul.select2-results__options .select2-results__option {
    padding: 8px 10px;
}

.hide-arrow ul.select2-results__options .select2-result-repository__title {
    font-weight: 500;
    word-wrap: break-word;
    line-height: 1.1;
    margin-bottom: 0px;
    font-size: 14px;
    text-transform: capitalize;
}

/* Upload Attachment */
.attachment-form {
    margin-top: 20px;
    border: 1px dashed #a2afbd;
    padding: 25px;
    min-height: inherit;
}

    .attachment-form .dz-message {
        margin-bottom: 0;
    }

    .attachment-form #drop_here div {
        font-size: 16px;
        color: #3e4955;
    }

    .attachment-form .lyt-color {
        color: #777;
        font-size: 14px;
        margin: 10px 0;
    }

    .attachment-form button.upload-btn {
        border: 0;
        color: #1E92D2;
        font-size: 16px;
        background: none;
        outline: none !important;
    }

.swal2-popup.swal-attachment .swal2-actions {
    margin-top: 20px;
}

    .swal2-popup.swal-attachment .swal2-actions .swal2-confirm {
        pointer-events: none;
    }

        .swal2-popup.swal-attachment .swal2-actions .swal2-confirm.active {
            pointer-events: auto;
            background-color: #1e92d2 !important;
        }

#uploadsPreview {
    margin-left: -18px;
    margin-top: 18px;
    margin-bottom: 65px;
    display: none;
}

    #uploadsPreview .dz-size,
    #uploadsPreview .dz-image,
    #uploadsPreview .dz-error-mark,
    #uploadsPreview .dz-success-mark {
        display: none;
    }

    #uploadsPreview .dz-preview {
        float: left;
        width: 47.2%;
        border: 1px solid #bfcad7;
        padding: 10px;
        position: relative;
        margin-left: 18px;
        margin-bottom: 15px;
        padding-left: 56px;
        min-height: 68px;
        background: #f7f9fa;
    }

    ul.attachments:before,
    ul.attachments:after,
    #uploadsPreview:before,
    #uploadsPreview:after {
        content: '';
        clear: both;
        height: inherit;
        display: table;
    }

    #uploadsPreview a.dz-remove {
        width: 23px;
        height: 22px;
        display: block;
        position: absolute;
        text-indent: -9999px;
        top: 6px;
        right: 6px;
    }

        #uploadsPreview a.dz-remove::before {
            content: "\e93a";
            color: #cd2b1e;
            font-family: 'icomoon';
            font-size: 13px;
            position: absolute;
            right: 0;
            top: 0;
            text-indent: 0;
        }

    #uploadsPreview .dz-preview::before {
        width: 33px;
        height: 36px;
        display: block;
        font-family: 'icomoon';
        content: '';
        position: absolute;
        left: 14px;
        top: 14px;
        content: "\e908";
        font-size: 33px;
        color: #bbb;
    }

    #uploadsPreview .dz-filename {
        margin-top: 3px;
        font-size: 15px;
        text-transform: capitalize;
    }

    #uploadsPreview .dz-progress {
        height: 10px;
        line-height: 0;
        background: #0077bc;
        max-width: 200px;
        margin-top: 6px;
    }

        #uploadsPreview .dz-progress .dz-upload {
            height: 10px;
            display: inline-block;
            background: #0077bc;
        }

.section-attachments {
    border: 1px dashed #a3b0be;
    padding: 8px 10px 10px;
    color: #a3b0be;
    margin-top: -3px;
}

    .section-attachments a {
        color: #a3b0be !important;
    }

.form-group i.icon-calendar {
    color: #2e9ad5;
}

.fc-toolbar .fc-left h2 {
    position: relative;
    top: -1px;
}

    .fc-toolbar .fc-left h2::before {
        content: "\e90c";
        display: inline-block;
        color: #56b0db;
        font-family: 'icomoon' !important;
        font-size: 16px;
        position: relative;
        top: 0px;
        margin-right: 10px;
        margin-left: 16px;
    }

ul.attachments {
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0;
}

    ul.attachments li {
        background-color: #F7F9FA;
        border: 1px solid #BFCAD7;
        box-shadow: 0 0 4px 0 rgba(33, 37, 41, 0.11);
        min-width: 180px;
        height: 36px;
        color: #3E4955;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        float: left;
        display: inline-block;
        padding: 8px;
        margin-right: 12px;
        margin-top: 12px;
        position: relative;
        padding-right: 35px;
        text-transform: capitalize;
    }

        ul.attachments li a.remove-file {
            width: 23px;
            height: 22px;
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 10px;
            color:;
        }

.a-event-attachments {
    cursor: pointer !important;
}

.select2-container {
    margin-top: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    top: 3px;
}

.due_datepicker {
    z-index: 9999 !important;
}


#tblInvites .delete-link i.icon-Delete {
    width: 15px !important;
    height: 15px !important;
    background-size: cover !important;
    display: inline-block !important;
    border-radius: 0;
    background: none;
    font-size: 13px;
}

.slimScrollBar {
    height: 50px !important;
}

.hidden {
    visibility: hidden !important;
}

.invites-select-item p {
    margin: 0px;
}

.profile-img-wrapper {
    min-width: 48px;
    margin-right: 10px;
}

    .profile-img-wrapper img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
    }

/* Media Queries */
@media (max-width: 1580px) {
    .cal-evpg .datetime-box input.date-picker {
        width: 190px;
    }

    .cal-evpg .datetime-box input.time-picker {
        width: 80px;
    }
}

@media (max-width: 1399px) {
    .footer-box {
        padding-left: 16px;
    }

    .timeBox i {
        display: none;
    }
}

@media (max-width: 1240px) {
    .ui-datepicker-trigger i {
        display: none;
    }

    .cal-evpg .datetime-box input.date-picker {
        width: 150px;
    }

    .cal-evpg .datetime-box input.time-picker {
        width: 90px;
    }

    .cal-evpg .datetime-box {
        padding: 10px;
    }
}

@media (max-width: 1199px) {
    .col-left-box {
        padding-right: 7.5px !important;
    }

    .col-right-box {
        padding-left: 7.5px !important;
    }

    .col-mid-box {
        padding-left: 7.5px !important;
        padding-right: 7.5px !important;
    }

    #divCalendarEventWrapper .col-mid-box.timeBox {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 1099px) {
    .timeBox i, .ui-datepicker-trigger i {
        display: block;
    }

    .section-attachments {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .left-content .left-box, .left-content .right-box {
        width: 100%;
        display: block;
        max-width: 100%;
        flex: auto;
    }

    .cal-evpg .datetime-box .dp-wrap {
        width: calc(100% - 160px);
    }

        .cal-evpg .datetime-box .dp-wrap input {
            width: 100%
        }

    .cal-evpg .datetime-box input.time-picker {
        width: 100px;
    }

    .left-content .right-box > .col-md-12 {
        padding: 0;
    }

    .bottom-box {
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .col-left-box {
        padding-right: 15px !important;
    }

    .col-right-box {
        padding-left: 15px !important;
    }

    .col-mid-box {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    #divCalendarEventWrapper .col-mid-box.timeBox {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .pl-0 {
        padding-left: 15px !important;
    }

    .right-content {
        margin-top: 15px;
    }

    .remindCheckboxes .chk-box-wrp,
    .cal-evpg .chk-box-wrp {
        margin-top: 0;
    }

    .cal-evpg .datetime-box .dp-wrap {
        width: calc(100% - 150px);
    }

        .cal-evpg .datetime-box .dp-wrap input {
            width: 100%
        }

    .cal-evpg .datetime-box input.time-picker {
        width: 90px;
    }

    #ddlCategory + .select2,
    #ddlBusyFree + .select2 {
        margin-top: 15px;
    }

    .repeat-box {
        margin-top: 10px;
    }

    #select2-ddlTimezone-container {
        margin-top: 10px;
        padding-bottom: 5px;
    }

    .footer-box {
        left: 0;
    }
}

@media (max-width: 699px) {
    #uploadsPreview .dz-preview {
        width: 45%;
    }
}

@media (max-width: 649px) {
    #uploadsPreview {
        margin-left: 0;
    }

        #uploadsPreview .dz-preview {
            width: 100%;
            margin-left: 0;
        }

    .cal-evpg #ddlTimezone + .select2 {
        height: 65px;
    }

    .select2-selection.timezone .select2-selection__rendered {
        text-overflow: inherit;
        white-space: normal;
    }
}

@media (max-width: 499px) {
    .notify-box .row .col-4 {
        width: 100%;
        display: block;
        max-width: 100%;
        flex: auto;
    }

    #ddlSEtime + .select2,
    #ddlSNtime + .select2 {
        margin-top: 15px;
    }

    .cal-evpg .users-list td {
        border: 0;
        padding-left: 10px;
        padding-right: 0;
        text-align: left !important;
    }

    #tblInvites tr td:last-child {
        display: table-cell;
    }

    ul.attachments li {
        width: 100%;
    }

    .cal-evpg #content .top-header .page-title {
        margin-right: 0;
        margin-top: 0;
    }

    .footer-box {
        height: auto;
        padding-bottom: 10px;
        position: fixed;
    }

        .footer-box button.save-btn,
        .footer-box button.text-danger.delete-btn,
        .footer-box button.cancel-btn {
            width: 49% !important;
            min-width: 49% !important;
            max-width: 49% !important;
            float: left;
            margin: 0 !important;
        }

            .footer-box button.save-btn.fullWidth {
                width: 100% !important;
                float: none !important;
                margin-bottom: 10px !important;
                max-width: 100% !important;
                min-width: 100% !important;
            }

        .footer-box button.text-danger.delete-btn {
            float: right;
        }
}

@media (max-width: 480px) {
    .cal-evpg #content .section-content {
        margin-bottom: 100px;
    }

    .swal2-popup .swal2-actions {
        margin-top: 20px;
    }

        .swal2-popup .swal2-actions button.swal2-confirm {
            width: 130px;
        }

    .swal2-popup .swal2-header h2 {
        font-size: 20px;
        text-align: left;
    }

    .swal2-popup #swal2-content {
        font-size: 13px;
    }

    .swal2-cancel.swal2-styled {
        position: relative;
        top: 0px;
    }

        .swal2-cancel.swal2-styled.left-cancel {
            width: 100%;
            margin-bottom: 10px;
        }

    .cp-wrapper input.cp-input {
        max-width: inherit;
        width: calc(100% - 100px);
    }

    .swal2-popup.swal-color .swal2-actions .swal2-cancel {
        width: 100px;
    }
}

@media (max-width: 399px) {
    .cal-evpg .users-list .select2 {
        margin-left: -10px;
        display: block;
        margin-top: -4px;
    }

    .cal-evpg .users-list .invite-type::before {
        display: none;
    }
}
