/* header and edit wrappers/content sections */
.top-header {
    padding-bottom: 10px;
    padding-top: 9px;
    border: 0;
}

.edit-wrapper {
    padding: 15px 20px 0px 15px;
}

/* all inputs/labels */
label.inputLabel {
    color: #BFCAD7;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 9;
    display: none;
}

.blue-wrap label.inputLabel {
    background: #f5fbfd;
}

.grey-wrap label.inputLabel {
    background: #f7f9fa;
}

.filled label.inputLabel {
    display: block;
}

.form-group {
    position: relative;
}

input[type="text"] {
    height: 36px !important;
    padding-left: 12px;
    background: #fff;
}


/* upload user image box */
.edit-field {
    margin-bottom: 16px;
}

    .edit-field .edit-label {
        margin-bottom: 6px;
        font-size: 13px;
    }

        .edit-field .edit-label.inc-font {
            font-size: 16px;
        }

        .edit-field .edit-label span {
            color: #6D7B8C;
            font-size: 10px;
            position: relative;
            right: -12px;
            top: -2px;
        }

    .edit-field.login-chk label {
        color: #454D5A;
        margin-left: 8px;
        margin-top: 4px;
    }

.upload-box .upload-img img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.upload-box .upload-btn {
    float: left;
    margin-left: 17px;
    margin-top: 8px;
}

    .upload-box .upload-btn .border-btn {
        line-height: 28px;
    }

    .upload-box .upload-btn input[type="file"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

.upload-box .file-uploading-loader {
    margin-left: 10px;
}

    .upload-box .file-uploading-loader img {
        margin-right: 10px;
    }

/* section - password, user roles, sales reps, etc... */
.login-details {
    /*max-width: 767px;*/
}

    .login-details .form-group-user-roles, .login-details .form-group-sales-reps {
        margin-bottom: .5rem;
    }

    .login-details .user-roles {
        column-count: 3;
        margin-bottom: 0px;
    }

    .login-details .form-group-user-roles .control-label, .login-details .form-group-sales-reps .control-label {
        font-weight: 600;
        color: #6D7B8C;
    }

@media (max-width: 700px) {
    .login-details .user-roles {
        column-count: 2;
    }
}

@media (max-width: 400px) {
    .login-details .user-roles {
        column-count: 1;
    }
}

.login-details .user-roles .as-checkbox {
    margin-left: 27px;
    margin-bottom: 6px;
}

.login-details .user-roles input[type="checkbox"]:not(:checked) + label::before,
.login-details .user-roles input[type="checkbox"]:checked + label::before {
    left: -26px;
    top: 2px;
    width: 20px;
    height: 20px;
}

.login-details .user-roles input[type="checkbox"]:checked + label::before {
    background: #1e92d2;
    border-color: #1e92d2;
}

.login-details .user-roles input[type="checkbox"]:not(:checked) + label::after,
.login-details .user-roles input[type="checkbox"]:checked + label::after {
    color: #fff;
    top: 6px;
    left: -23px;
}

.login-details .form-group-password {
    margin-bottom: .75rem;
}

.login-details .form-group-login-enabled {
    /*margin: 5px 0px 0px 15px;*/
}

#txtPassword {
    width: 200px !important;
}

#multiselect-container .btn {
    width: 100%;
    display: block;
    margin-bottom: 6px;
    background: #1e92d2;
    border-radius: 1px;
    max-width: 100%;
    color: #fff !important;
    font-weight: bolder;
    text-align: center;
    border: 0;
    cursor: pointer !important;
}

/* buttons */
.buttons {
    margin-top: 1rem;
}

    .buttons .primary-btn {
        margin-left: 10px;
    }

    .buttons .cancel-btn {
        margin-left: 10px;
    }

.form-btns > button {
    min-width: 150px;
    height: 38px;
    float: none;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 440px) {
    .form-btns > button {
        min-width: 90px;
    }
}
