/* content */
.CampaignAddEdit {
    padding: 15px !important;
}

.MR20 {
    margin-right: 20px;
}

/* bottom button bar */
.form-btns button {
    height: 38px;
    line-height: 29px;
    float: none;
    min-width: 150px;
    margin: 0px;
}

.form-btns .cancel-btn, .form-btns .primary-btn {
    margin-left: 10px;
}

.ui-state-active {
    color: white !important;
    background: #106595;
    padding: 5px;
}

@media (max-width: 540px) {
    .form-btns button {
        min-width: 110px;
    }
}

@media (max-width: 440px) {
    .form-btns button {
        min-width: 75px;
    }
}

/* date inputs */
.date-container .innerWrap {
    width: 100%;
    margin-top: 0;
    padding: 15px 0;
}

    .date-container .innerWrap .col-md-6 .form-group:last-child {
        margin-bottom: 0;
    }

.date-container input[type="text"] {
    width: 100%;
    padding-right: 30px;
    padding-left: 140px;
}

.date-container .date-input {
    position: relative;
}

    .date-container .date-input i {
        position: absolute;
        font-size: 14px;
        color: #a2afbd;
        right: 10px;
        bottom: 12px;
    }

.date-container label {
    background: #ecf0f4;
    font-size: 13px;
    color: #808c9b;
    position: absolute;
    left: 1px;
    height: 34px;
    top: 1px;
    width: 127px;
    text-align: center;
    line-height: 34px;
    margin: 0;
}

.date-container input[type="text"] {
    width: 100%;
    padding-right: 30px;
    padding-left: 140px;
}

#ui-datepicker-div {
    display: none;
    border: 1px solid #1e92d2 !important;
    box-shadow: none !important;
    margin-left: 127px;
    margin-top: -1px;
    background: #fff;
}


/* inputs */
input[type="text"] {
    height: 36px !important;
    padding-left: 12px;
    background: #fff;
}

.filled label.inputLabel {
    display: block;
}

label.inputLabel {
    color: #bbb;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 99;
    display: none;
}

.grey-wrap label.inputLabel {
    background: #f7f9fa;
}

.form-group {
    position: relative;
}
