.wrapper.section-content{
	max-width:765px;
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #999 !important;
}

input[type="text"].hasDatepicker:focus + i {
    color: #1e92d2;
}

.form-btns .primary-btn {
	height: 38px;
	line-height: 29px;
	width: calc(100% - 185px);
	float: right;
}

.select2-container--classic .select2-selection--multiple, 
.select2-container .select2-selection--single {
	height: 36px;
}

.form-group.avatarBox {
	margin-bottom: 0;
	margin-top: -3px;
}

.avatarBox .file-upload {
	position: absolute;
	top: 0px;
    left: 0px;
	height: 45px;
	width: 45px;
	opacity: 0;
    pointer-events: none;
}

.avatarBox img {
    cursor: pointer;
}

#txtAddress.form-control {
    height: 141px;
}

#Notes.form-control {
    height: 89px;
}

.checklist .form-group.chkActive label{
	font-size:14px;
}

#ui-datepicker-div {
    display: none;
    border: 1px solid #1e92d2 !important;
    box-shadow: none !important;
    margin-left: -15px;
    margin-top: -1px;
    background: #fff;
}

.blue-wrap,
.grey-wrap{
	background:#F5FBFD;
	border:1px solid #DDE3EA;
	padding:15px 15px 0;
	margin-bottom:15px;
}

.grey-wrap{
	background:#F7F9FA;
}

.mask {
	background-color: #FFFFFF;
	border: 1px solid #1E92D2;
	border-radius: 100%;
	width: 64px;
	height: 64px;
}


.ContactAdd {
    padding: 15px;
	padding-top: 18px;
	padding-bottom: 0;
}

.ContactAdd input[type="text"] {
	height: 36px;
	padding-left: 12px;
	background: #fff;
}

.ContactAdd textarea {
	border-radius: 0;
	font-size: 13px;
	font-weight: 400;
	height: 68px;
	padding-top: 8px;
}

.iconField {
    position: relative;
}

.prof-fields .col-left-box{
	margin-right: -10px;
}

.prof-fields .col-right-box{
	padding-right:7.5px !important;
}

.form-group {
    position: relative;
}

.iconField .iconWrap {
    position: absolute;
    height: 34px;
    background: #ecf0f4;
    width: 38px;
    z-index: 9;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #1e92d2;
    top: 1px;
    left: 1px;
}

.iconField input[type="text"]{
	padding-left: 50px;
}

.checklist{
	padding-left: 10px;
    white-space: nowrap;
}

.checklist .list-title{
	font-size: 13px;
	color: #bbb;
	margin-bottom: 11px;
}

.form-group.chkActive {
	margin-left: 30px !important;
    margin-bottom: 10px;
}

.form-group.chkActive input[type="checkbox"]:not(:checked) + label::before, 
.form-group.chkActive input[type="checkbox"]:checked + label::before {
	top: 1px;
}

.form-group.chkActive input[type="checkbox"]:checked + label::before {
	border-color: #1E92D2;
	background-color: #1E92D2;
}

.form-group.chkActive input[type="checkbox"]:not(:checked) + label::after,
.form-group.chkActive input[type="checkbox"]:checked + label::after {
	top: 5px;
	color: #fff;
	font-size:13px;
	left: -26px;
}

label.inputLabel {
    color: #bbb;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 99;
    display: none;
}

img.img-thumbnail {
	background-color: #FFFFFF;
	border: 1px solid #c5e9fa;
	border-radius: 100%;
	width: 45px;
	height: 45px;
	padding: 0;
	margin-top: -4px;
	max-width: inherit;
}

a.change-profile-pic {
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	margin-top: 4px;
	margin-left: 12px;
	color: #3E4955;
}

a.change-profile-pic span{
	color: #1E92D2;
}

.filled label.inputLabel {
    display: block;
}

.blue-wrap label.inputLabel{
	background: #f5fbfd;
}

.grey-wrap label.inputLabel{
	background: #f7f9fa;
}

.select2-selection.select2-selection--single {
    padding-left: 3px;
}

.iconField .select2-selection.select2-selection--single,
.iconField .select2-selection.select2-selection--multiple {
    padding-left: 42px;
}

.select2-container--classic .select2-selection--multiple {
    height: auto;
    min-height: 36px;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 7px;
    margin-left: 4px;
    font-size: 13px;
    color: #999;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    margin-right: 5px;
    margin-top: 8px;
    padding: 1px 5px 1px;
    color: #fff;
    font-size: 12px;
    border: 0;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 15px;
    position: relative;
    top: 0px;
    margin-left: 7px;
}

.innerWrap {
    border: 1px solid #dde3ea;
    padding: 7px;
    background: #f7f9fa;
}

.companyDates {
    margin-left: 15px;
    margin-right: -15px;
}

.companyDates .innerWrap {
	width: 100%;
	margin-top: 0;
	padding: 15px 0;
}

.companyDates .innerWrap .col-md-6 .form-group:last-child {
	margin-bottom: 0;
}

.companyDates input[type="text"] {
	width: 100%;
	padding-right: 30px;
	padding-left: 140px;
}

.companyDates .date-input {
	position: relative;
}

.companyDates .date-input i {
	position: absolute;
	font-size: 14px;
	color: #a2afbd;
	right: 10px;
	bottom: 12px;
}

.companyDates label {
	background: #ecf0f4;
	font-size: 13px;
	color: #808c9b;
	position: absolute;
	left: 1px;
	height: 34px;
	top: 1px;
	width: 127px;
	text-align: center;
	line-height: 34px;
	margin: 0;
}

.btns-wrap .primary-btn,
.btns-wrap  .cancel-btn {
	height: 32px;
	min-width: 175px;
	float: right;
	line-height: 23px;
}

.btns-wrap  .cancel-btn{
	margin-right:15px;
}

.top-border{
	background-color: #DDE3EA;
	height: 1px;
	margin-bottom: 15px;
}

@media (max-width: 1399px) {
    .footer-box {
        padding-left: 16px;
    }
	
	.prof-fields .col-left-box{
		margin-right:0px;
	}
	
	.prof-fields .col-right-box{
		padding-right:15px !important;
	}
}

@media (max-width: 1299px) {
	.checklist .form-group.chkActive label {
		font-size: 13px;
	}
	
	.form-group.chkActive input[type="checkbox"]:not(:checked) + label::before, .form-group.chkActive input[type="checkbox"]:checked + label::before {
		top: 1px;
	}
}

@media (max-width: 1199px) 
{
	.col-md-4,
	.col-md-6,
	.col-md-8{
		flex: 100% !important;
		max-width: 100%!important;
	}
}

@media (max-width: 767px) 
{
	.ContactAdd{
		padding-bottom:2px;
	}
	
	.wrapper.section-content{
		margin-bottom:55px;
	}

	.companyDates {
        margin-bottom: 15px;
    }

	.companyDates .innerWrap .col-md-6 .form-group:last-child {
		margin-bottom: 15px;
	}

	.companyDates .innerWrap .col-md-6:last-child .form-group:last-child {
		margin-bottom: 0px;
	}
	
	.form-group.chkActive {
		position: relative;
		right: 0;
		bottom: 4px;
	}
	
	.btns-wrap{
		padding-bottom:15px;
	}
	
	img.img-thumbnail{
		margin-bottom:5px;
	}
}

@media (max-width: 599px) {
    #ui-datepicker-div {
        margin-left: 0px;
    }
}

@media (max-width: 450px) {

	a.change-profile-pic {
		display: block;
		margin-top: 9px;
		margin-left: 0;
		text-align:left;
	}
}
