.PR0 {
    padding-right: 0px !important;
}

div[dir="ltr"],
svg{
	max-width:100% !important;
}


.MT20 {
    margin-top: 20px !important;
}

.top-header {
    padding-bottom: 15px;
}

h1.page-title {
    display: inline-block;
    margin-top: 5px;
}

.page-title .sub-title {
    color: #818d9c;
    font-size: 12px;
    margin-left: 8px;
}

.pageInfo {
    position: relative;
    top: -5px;
}

.wrapper {
    margin-top: 15px;
}

.filter-wrap {
    display: inline-block;
    float: left;
}

    .filter-wrap a {
        border: solid 1px #BFCAD7;
        border-radius: 0;
        font-size: 13px;
    }

        .filter-wrap a:last-child {
            border-left: 0;
        }

        .filter-wrap a.active:last-child {
            border-right: 0;
        }

.search-form {
    text-align: left;
    display: inline-block;
    position: relative;
    padding-top: 4px;
	float:right;
}

    .search-form div {
        text-align: left;
    }

.search-box, .select-box-wrp, .chk-box-wrp {
    /*display: inline-block;*/
    position: relative;
}

.search-form .select-box-wrp {
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.search-form div {
    text-align: left;
}

.search-box, .select-box-wrp, .chk-box-wrp {
    display: inline-block;
    position: relative;
}

.select-box-wrp {
    margin-left: 5px;
}

.search-form .search-box input[type="text"] {
    width: 130px;
    padding-right: 25px;
}

#datepicker {
    margin-left: 4px;
}

    #datepicker input {
        border-radius: 0;
        text-align: left;
    }

    #datepicker .input-group-addon {
        text-transform: uppercase;
        font-size: 12px;
        color: #6D7B8C;
        background: #f3f7fa;
        border-top: 1px solid #BFCAD7;
        border-bottom: 1px solid #BFCAD7;
        padding: 7px 12px 6px;
        position: relative;
        top: -1px;
        margin-left: -4px;
    }

    #datepicker i {
        position: absolute;
        font-size: 14px;
        color: #777;
        right: 10px;
        top: 9px;
    }

    #datepicker .inp-wrap {
        display: inline-block;
        position: relative;
    }

a#btnUpdate {
    min-width: 124px;
    height: 32px;
    line-height: 30px;
    position: relative; 
}

a#btnSearch {
    position: absolute;
    top: 6px;
    right: 9px;
    font-size: 14px;
}

.select2-container--classic .select2-selection--multiple, .select2-container .select2-selection--single {
    width: 180px;
    height: 32px !important;
    position: relative;
    top: 0px;
    margin-left: 0px;
    border: 1px solid #bfcad7;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    top: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered { 
    top: 0px !important;
}

.select2-container .select2-selection--single .select2-selection__clear {
    right: 5px !important;
}

.search-box.input-group {
    display: inline;
    width: auto;
}

.search-box .form-control {
    display: inline;
}

.filter-wrap a, .filter-wrap button {
    min-width: 70px !important;
}

.ibox {
    margin-bottom: 15px;
    box-shadow: 0 1px 8px 0 rgba(33, 37, 41, 0.06);
    border: solid 1px #e2e6eb;
}

.ibox-title {
    color: inherit;
    margin-bottom: 0;
    padding: 0;
    height: 49px;
    box-shadow: 0 1px 8px 0 rgba(33, 37, 41, 0.06);
    border-bottom: solid 2px #eef1f4;
    background: #fff;
}

    .ibox-title h5 {
        font-size: 18px;
        font-weight: 600;
        color: #3e4955;
        padding: 12px 18px;
        height: 47px;
        margin-bottom: 0;
        display: inline-block;
    }

.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 8px;
    position: relative;
    padding: 0;
    margin-right: 2px;
}

.ibox-content {
    clear: both;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 20px 35px;
}

.sales-stage .ibox-title {
    border-radius: 0px;
    height: 40px;
    padding: 5px 15px;
    background: #aaa;
    border: 0;
}

.sales-stage .ibox-content {
    box-shadow: 0 1px 8px 0 rgba(33, 37, 41, 0.06);
    border: solid 1px #e2e6eb;
    background-color: #ffffff;
    padding: 12px 17px;
}

.sales-stage .ibox-title.LBlue {
    background: #5abded;
}

.sales-stage .ibox-title.MBlue {
    background: #1e92d2;
}

.sales-stage .ibox-title.DBlue {
    background: #0c629c;
}

.sales-stage .ibox-title.Green {
    background: #039280;
}

.sales-stage .ibox-title.DGreen {
    background: #039280;
}

.sales-stage .ibox-title.DRed {
    background: #cd2b1e;
}

.sales-stage .ibox-title.DGrey {
    background: #3e4955;
}

.sales-stage .ibox-title .card-title {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.sales-stage .card-count {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    float: right;
    position: relative;
    right: 3px;
    top: 2px;
}

#salesStageRevenueContainer .sales-stage {
    cursor: pointer !important;
}

.sales-stage div, .sales-stage h3 {
    font-size: 18px;
}

.sales-stage p {
    margin-bottom: 0;
}

.ibox-content {
    background-color: #ffffff !important;
    color: inherit;
    padding: 20px 35px;
}

.dashboard-status {
    display: inline-block;
    float: left;
}

    .dashboard-status a, .dashboard-status button {
        min-width: 70px !important;
    }

        .dashboard-status a.active, .dashboard-status button.active {
            background: #0077bc;
            color: #fff;
            text-decoration: none;
            border-top-color: #0077bc;
            border-bottom-color: #0077bc;
        }

    .dashboard-status a, .dashboard-status button {
        color: #1e92d2;
        background: #fff;
        border-radius: 2px;
        border: solid 1px #dde3ea;
        height: 32px;
        text-align: center;
        max-width: 100%;
        padding: 5px 10px;
        display: inline-block;
        min-width: 88px;
        font-size: 13px;
        box-shadow: none !important;
        outline: none !important;
    }


/* chart rules */
.chart-wrapper {
    position: relative;
}
.chart-annotation {
    position: absolute;
    padding: 2px 4px;
    border: solid 1px #c0c0c0;
    border-radius: 3px;
    background-color: #f0f0f0;
    font-size: 10px;
    line-height: 1.2;
    color: #505050;
}
#divSalesForecastBySalesRepChart .chart-annotation::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -6px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    clip-path: polygon(0% 0%,0% 100%,100% 100%);
    border: solid 1px #b0b0b0;
    margin: auto;
    background-color: #f0f0f0;
}
.chart-annotation .text-line {
    white-space: nowrap;
}
.chart-annotation .text-line-title {
    font-weight: 700;
    color: #808080;
}
.chart-annotation .text-highlight {
    color: #1E92D2;
}


@media (max-width: 1349px) {
    .top-header .filter-wrap {
        display: block;
        margin-bottom: 15px;
    }
}

@media (max-width: 1199px) {
	.four-boxes div:nth-child(2){
		padding-right:15px!important;
	}
}

@media (max-width: 1030px) {
    .top-header #datepicker {
        display: block;
        margin-top: 15px;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    div.PR0 {
        padding-right: 15px !important;
    }
}

@media (max-width: 850px) 
{
	.top-header .select2-container--classic .select2-selection--multiple, 
	.top-header .select2-container .select2-selection--single {
		width: 127px !important;
	}
}

@media (max-width: 740px) 
{
    #datepicker .input-group-addon {
        margin-left: -3px;
    }

    #datepicker .inp-wrap {
        width: calc(50% - 20px);
        display: inline-block;
    }

    #datepicker input {
        width: 100%;
    }

    #txtKeyword,
    .select2-container--classic .select2-selection--multiple, .select2-container .select2-selection--single {
        width: 100%;
    }
}

@media (max-width: 575px) 
{
	div.PR0{
		padding-right:15px !important;
	}
	
	.search-form {
		float: none;
		display: block;
		width: 100%!important;
	}
	a#btnUpdate,
	.search-form div,
	.top-header .select2-container--classic .select2-selection--multiple, 
	.top-header .select2-container .select2-selection--single {
		width: 100% !important;
	}
	
	.search-form div{
		margin-bottom:11px;
		margin-left:0!important;
	}
	
	.select-box-wrp.upbtn-wrap{
		margin-bottom:3px;
	}
	
	h1.page-title{
		margin-top:0;
	}
}