#divSwitchUser {
    padding-top: 15px;
}

.highlight {
    background-color: #D1EFE9;
    outline: 1px dashed #999;
    height: 59px;
}

.handle {
    cursor: move;
}

.ui-sortable-helper {
    outline: 1px solid #999;
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(221,221,221,0.8);
    -moz-box-shadow: 0px 0px 5px 1px rgba(221,221,221,0.8);
    box-shadow: 0px 0px 5px 1px rgba(221,221,221,0.8);
}

    .ui-sortable-helper td {
        background-color: rgba(26, 179, 148, 0.15);
        padding: 12px;
    }

.page-heading h2 {
    margin-bottom: 5px;
    float: none !important;
    margin-top: 9px !important;
}

.breadcrumb {
    margin-bottom: 12px;
}

.primary-btn {
    min-width: 100% !important;
    min-width: 120px !important;
}
