.Green {
    color: #1FC39F;
}

.basic-card{
	height:100%;
}

.card-title i {
    color: #1e92d2;
    position: relative;
    top: 2px;
    left: -5px;
    margin-right: -8px;
}

.ibox .ibox-title h3.card-title {
    font-weight: 600;
}

.col-right-box .card-title i {
    font-size: 20px;
    top: 3px;
}

header.top-header .text-right {
    margin-top: 8px;
}

p.bread_crumb {
    float: right;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 20px;
}

.bread_crumb .bread_sep {
    color: #1e92d2 !important;
    letter-spacing: -2px;
    font-weight: 300;
}

.actBtns {
    margin-top: 8px;
}

.wrapper {
    margin-top: 15px;
}

h1.page-title {
    margin-bottom: 0;
    margin-top: 9px;
}

.ibox-title a.edit_link {
    float: right;
    color: #1e92d2 !important;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.hover-link {
    margin-top: 0;
}

.actBtns a.secondary-btn,
.actBtns a.primary-btn {
    border-radius: 1px;
    max-width: 137px;
    min-width: 137px;
    margin-left: 10px;
    height: 32px;
    float: right;
}

.actBtns a.primary-btn {
    line-height: 31px;
}

.userImg img {
    width: 50px;
    border-radius: 100%;
}

.userDetail {
    margin-left: 18px;
}

.bread_crumb {
    float: none;
    margin-top: -4px;
    margin-bottom: 0;
}

td.action-cell a {
    color: #1e92d2;
}

.top-header {
    padding-bottom: 15px;
    padding-top: 15px;
}

    .top-header h2 {
        margin-top: 2px;
        margin-bottom: 0;
    }

.ibox .ibox-title {
    padding: 11px 12px 11px 20px;
}

.ibox .ibox-title {
    border-bottom: solid 2px #eef1f4;
}

    .ibox .ibox-title h3 {
        margin-bottom: 0;
        font-weight: 500;
    }

.ud-content {
    min-height: 185px;
    padding: 15px 20px 10px;
}

    .ud-content .ud-label {
        color: #6D7B8C;
        margin-right: 10px;
        margin-bottom: 2px;
        font-size: 15px;
        width: 132px;
        display: inline-block;
        text-align: right;
        vertical-align: top;
    }

        .ud-content .ud-label + span {
            width: calc(100% - 200px);
            display: inline-block;
        }

    .ud-content .ud-value {
        color: #212529;
        min-height: 22px;
        font-size: 16px;
    }

        .ud-content .ud-value a {
            font-size: 16px;
        }

.ud-item {
    margin-bottom: 15px;
}

.ud-content .ud-item {
    margin-top: 10px;
}

    .ud-content .ud-item a.hover-link {
        font-size: 15px;
    }

    .ud-content .ud-item:first-child {
        margin-top: 0;
    }

span#lblLoginStatus {
    color: #1fc39f;
}

@media (max-width: 767px) {
}


@media (max-width: 767px) {
    .userData {
        margin-bottom: 15px;
    }

    .actBtns a.secondary-btn,
    .actBtns a.primary-btn {
        float: left;
        margin-left: 0;
        margin-right: 10px;
    }

    .user-settings .ud-content .ud-item {
        margin-top: 10px;
    }

    .ud-content {
        min-height: inherit;
        padding: 2px 20px 12px;
    }
}

@media (max-width: 499px) {
    header.top-header {
        padding: 15px 17px;
    }

    .top-header .userDetail,
    .top-header .userImg {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
    }

    p.bread_crumb {
        float: none;
        width: 100%;
        display: block;
        margin: 0;
        margin-top: 5px;
    }

    div.actBtns {
        text-align: center !important;
    }

    .actBtns a {
        float: none !important;
    }

        .actBtns a:last-child {
            margin-right: 0;
        }

    .ud-content .ud-label {
        text-align: left;
    }

        .ud-content .ud-label + span {
            width: calc(100% - 150px);
            display: inline-block;
        }
}

@media (max-width: 350px) {
    .actBtns a.secondary-btn {
        margin-right: 0px;
    }
}
