h1.page-title {
    margin-bottom: 9px;
    position: relative;
    top: 7px;
}

.text-button {
    transition: color .4s ease;
}

.CompanyAdd {
    padding: 15px;
    padding-bottom: 0;
}

    .CompanyAdd .uploadBox {
        display: inline-block;
        position: relative;
    }

        .CompanyAdd .uploadBox img {
            padding: 0;
            height: 36px;
            width: 36px;
            border: solid 1px #bfcad7;
            border-radius: 4px;
        }

        .CompanyAdd .uploadBox .file-upload {
            position: absolute;
            left: 0;
            top: 0;
            width: 36px;
            height: 36px;
            opacity: 0;
        }

        #imgCompanyLogo {
            cursor: pointer;
        }

.CompanyAdd div textarea.form-control {
    border-radius: 0;
    font-size: 13px;
    font-weight: 400;
    height: 89px;
    padding-top: 8px;
}

    .CompanyAdd .notes textarea.form-control {
        height: 244px;
    }

    .CompanyAdd .notes textarea.form-control.is-edit {
        height: 202px;
    }

.ML5 {
    margin-left: 5px !important;
}

@media (max-width: 1199px) {
    .CompanyAdd .col-md-4,
    .CompanyAdd .col-md-6,
    .CompanyAdd .col-md-8 {
        flex: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 767px) {
    .CompanyAdd {
        padding-bottom: 2px;
    }

    .wrapper.section-content {
        margin-bottom: 55px;
    }

    .companyDates {
        margin-bottom: 15px;
    }

        .companyDates .innerWrap .col-md-6 .form-group:last-child {
            margin-bottom: 15px;
        }

        .companyDates .innerWrap .col-md-6:last-child .form-group:last-child {
            margin-bottom: 0px;
        }

    .form-group.chkActive {
        position: relative;
        right: 0;
        bottom: 4px;
    }
}

@media (max-width: 575px) {
    #btnDelete {
        width: 100% !important;
        min-width: 100% !important;
        margin-top: 10px;
        margin-bottom: 0;
    }
}
