
.addEditPage #ui-datepicker-div {
    margin-left: 0 !important;
}

.DealAddEdit {
    padding: 15px;
    padding-bottom: 0;
}

.dealDates {
    margin-left: 15px;
    margin-right: -15px;
}

    .dealDates .innerWrap {
        width: 100%;
        margin-top: 0;
        padding: 15px 0;
    }

        .dealDates .innerWrap .col-md-6 .form-group:last-child {
            margin-bottom: 0;
        }

    .dealDates input[type="text"] {
        width: 100%;
        padding-right: 30px;
        padding-left: 140px;
    }

    .dealDates .date-input {
        position: relative;
    }

        .dealDates .date-input i {
            position: absolute;
            font-size: 14px;
            color: #a2afbd;
            right: 10px;
            bottom: 12px;
        }

    .dealDates label {
        background: #ecf0f4;
        font-size: 13px;
        color: #808c9b;
        position: absolute;
        left: 1px;
        height: 34px;
        top: 1px;
        width: 127px;
        text-align: center;
        line-height: 34px;
        margin: 0;
    }

#btnCancel:hover {
    background: #ddd;
    border-color: #bbb;
    color: #222;
}

.addEditPage.deal-add textarea.form-control {
    height: 240px;
}

.error+.select2 .error-border {
    border-color: #CD2B1E !important;
}

input[type="text"].valid, textarea.valid, .select2-container--open.valid .select2-selection, .select2-container--open.valid .select2-dropdown {
    border-color: #BFCAD7 !important;
}

#select2-ddlSalesStage-results li{
	position:relative;
	padding-left:28px;
}

#select2-ddlSalesStage-container:before,
#select2-ddlSalesStage-results li:before{
	width: 14px;
	height: 14px;
	border-radius: 2px;
	position: absolute;
	left: 8px;
	content: '';
	top: 50%;
	margin-top: -8px;
	border: 1px solid #aaa;
	background: #ddd;
}

#select2-ddlSalesStage-container{
	padding-left:26px;
}

#select2-ddlSalesStage-container:before{
	left: 5px;
	margin-top: -7px;
}

#select2-ddlSalesStage-container[title*="Qualifying"]:before,
#select2-ddlSalesStage-results li[id*="Qualifying"]:before{
	background: #5ABDED;
    border: 1px solid #BDE6F9;
}
#select2-ddlSalesStage-container[title*="Negotiation"]:before,
#select2-ddlSalesStage-results li[id*="Negotiation"]:before{
	background: #1E92D2;
	border: 1px solid #51BDED;
}
#select2-ddlSalesStage-container[title*="Final Negotiation"]:before,
#select2-ddlSalesStage-results li[id*="Final Negotiation"]:before{
	background: #0C629C;
    border: 1px solid #1E92D2;
}
#select2-ddlSalesStage-container[title*="Trial Shipment"]:before,
#select2-ddlSalesStage-results li[id*="Trial Shipment"]:before{
	background: #039280;
	border: 1px solid #1FC39F;
}
#select2-ddlSalesStage-container[title*="Won"]:before,
#select2-ddlSalesStage-results li[id*="Won"]:before{
	background: #1FC39F;
	border: 1px solid #039280;
}
#select2-ddlSalesStage-container[title*="Lost"]:before,
#select2-ddlSalesStage-results li[id*="Lost"]:before{
	background: #F77268;
	border: 1px solid #CD2B1E;
}
#select2-ddlSalesStage-container[title*="Stalled"]:before,
#select2-ddlSalesStage-results li[id*="Stalled"]:before{
	background: #FFEDBD;
	border: 1px solid #FFC618;
}

.addEditPage #main .icon-calendar {
    top: 10px;
    bottom: auto;
}

.addEditPage .error-text>.error {
    margin-bottom: 0px;
}

@media (max-width: 1006px) {
    div .footer-action button {
        width: 66px !important;
        max-width: 66px !important;
        min-width: 66px !important;
    }
}

@media (max-width: 767px) {
    .dealDates {
        margin-bottom: 15px;
    }

	.dealDates .innerWrap .col-md-6 .form-group:last-child {
		margin-bottom: 15px;
	}

	.dealDates .innerWrap .col-md-6:last-child .form-group:last-child {
		margin-bottom: 0px;
	}

    div.footer-action button {
        width: 110px !important;
        max-width: 110px !important;
        min-width: 110px !important;
    }
}
