.top-header {
    position: relative;
    z-index: 9999;
}

.filter-dropdown .ae-select-content::before {
	width: 14px;
	height: 14px;
	border-radius: 2px;
	position: absolute;
	left: 9px;
	content: '';
	top: 50%;
	margin-top: -7px;
}

.filter-dropdown .ae-select-content.all:after{
	border: 1px solid #aaa;
	background: #ddd;
}

header.top-header a.dotsbtn {
	display: block;
	right: -50px;
	top: 0;
}

header.globalHead .filter-dropdown{
	height:20px;
}

#moreFilters{
	display:none;
}

.top-header div.search-form{
	position:absolute;
	left:271px;
}

    .top-header .showView.btn-group {
        margin-right: -5px;
    }

    .top-header .pageInfo form.advance-search {
        visibility: visible;
        text-align: left;
        margin-right: 18px;
        top: 0;
		position:static;
    }

    .top-header .search-box input {
        padding-top: 3px;
    }

    .top-header div.text-right {
        margin-top: 9px;
    }

header.top-header .add-new-btn {
    margin-right: 3px;
}

    header.top-header .add-new-btn a {
        margin-left: 18px;
    }

.total-records {
	color: #A2AFBD;
	font-size: 9px;
	margin-left: -10px;
	font-weight: normal;
	position: relative;
}
.total-records.textCenter {
	margin-left: -30px;
	top: 22px;
	left: 132px;
}

.deal-table .hover-link {
    font-size: 15px;
    margin-top: 0;
}

.deal-table td span {
    color: #6D7B8C;
    display: block;
    font-size: 12px;
}

.deal-table td a.company {
    color: #212529;
    font-weight: 400;
    line-height: 16px;
}

td .border-status {
    display: inline-block;
}

.dealList {
    margin-top: 15px;
}

.top-header .filter-dropdown {
    top: 0px !important;
    left: -2px;
	width:auto;
}

    .top-header .filter-dropdown .drop-open i.icon-Angle-Down {
        -ms-transform: rotate(-180deg); /* IE 9 */
        -webkit-transform: rotate(-180deg); /* Safari 3-8 */
        transform: rotate(-180deg);
    }

    .top-header .filter-dropdown .ae-select {
        padding-left: 33px;
    }

    .top-header .filter-dropdown ul {
        width: 155px !important;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(33, 37, 41, 0.08);
        border: solid 1px #1E92D2;
        padding: 0;
        top: 35px;
    }

        .top-header .filter-dropdown ul li {
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.23;
            letter-spacing: normal;
            color: #3e4955;
            padding: 7px 13px 9px;
            position: relative;
            padding-left: 32px;
        }

            .top-header .filter-dropdown ul li:first-child {
                border-radius: 4px 4px 0 0;
            }

            .top-header .filter-dropdown ul li:last-child {
                border-radius: 0 0 4px 4px;
            }

            .top-header .filter-dropdown ul li.selected {
                display: block;
                background-color: #f5fbfd;
                color: #1e92d2;
            }

    .top-header .filter-dropdown .ae-select i {
        float: none;
        position: relative;
        font-size: 9px;
        top: 0px;
        left: 0;
        display: inline-block;
        color: #1e92d2;
    }

        .top-header .filter-dropdown .ae-select i::before {
            color: #1e92d2;
        }

    .top-header .filter-dropdown div .ae-select-content {
		font-size: 13px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: normal;
		color: #3e4955 !important;
	}
	
    .top-header .filter-dropdown ul li::before {
        width: 14px;
        height: 14px;
        border-radius: 2px;
        border: 1px solid #aaa;
        background: #ddd;
        position: absolute;
        left: 8px;
        content: '';
        top: 50%;
        margin-top: -9px;
    }
	
	.filter-dropdown .ae-select-content.active:before,
	.filter-dropdown .ae-select-content:before,
    .top-header .filter-dropdown ul li[data-status="active"]::before {
        background: #BDE6F9;
        border: 1px solid #51BDED;
    }
	
	.filter-dropdown .ae-select-content,
	.filter-dropdown .ae-select-content.active{
		color: #BDE6F9 !important;
	}

	.filter-dropdown .ae-select-content.inactive:before,
    .top-header .filter-dropdown ul li[data-status="inactive"]::before {
        background: #FFD3AB;
        border: 1px solid #FFA030;
    }
	
	.filter-dropdown .ae-select-content.inactive{
		color: #FFD3AB !important;
	}
	
	.filter-dropdown .ae-select-content.qualifying:before,
    .top-header .filter-dropdown ul li[data-status="Qualifying"]::before {
        background: #5ABDED;
        border: 1px solid #BDE6F9;
    }
	
	.filter-dropdown .ae-select-content.qualifying{
		color: #5ABDED !important;
	}

	.filter-dropdown .ae-select-content.negotiation:before,
    .top-header .filter-dropdown ul li[data-status="Negotiation"]::before {
        background: #1E92D2;
        border: 1px solid #51BDED;
    }
	
	.filter-dropdown .ae-select-content.negotiation{
		color: #1E92D2 !important;
	}

	.filter-dropdown .ae-select-content.trialshipment:before,
    .top-header .filter-dropdown ul li[data-status="Trial Shipment"]::before {
        background: #039280;
        border: 1px solid #1FC39F;
    }
	
	.filter-dropdown .ae-select-content.trialshipment{
		color: #039280 !important;
	}

	.filter-dropdown .ae-select-content.finalnegotiation:before,
    .top-header .filter-dropdown ul li[data-status="Final Negotiation"]::before {
        background: #0C629C;
        border: 1px solid #1E92D2;
    }
	
	.filter-dropdown .ae-select-content.finalnegotiation{
		color: #0C629C !important;
	}

	.filter-dropdown .ae-select-content.won:before,
    .top-header .filter-dropdown ul li[data-status="won"]::before {
        background: #1FC39F;
        border: 1px solid #039280;
    }
	
	.filter-dropdown .ae-select-content.won{
		color: #1FC39F !important;
	}

	.filter-dropdown .ae-select-content.lost:before,
    .top-header .filter-dropdown ul li[data-status="lost"]::before {
        background: #F77268;
        border: 1px solid #CD2B1E;
    }
	
	.filter-dropdown .ae-select-content.lost{
		color: #F77268 !important;
	}

	.filter-dropdown .ae-select-content.stalled,
    .top-header .filter-dropdown ul li[data-status="stalled"]::before {
        background: #FFEDBD;
        border: 1px solid #FFC618;
    }
	
	.filter-dropdown .ae-select-content.stalled{
		color: #FFEDBD !important;
	}


.scrollBox {
    overflow-x: scroll;
    margin-left: -15px;
}

    .scrollBox .row {
        display: table-row;
    }

    .scrollBox .col-xl-3 {
        display: table-cell;
        max-width: 344px;
        min-width: 344px;
    }

.top-header a#btnSearch i {
    color: #594e57;
}

.list-table table td {
    padding: 7px 25px;
}

.list-table table thead th {
    cursor:pointer;
}

.list-table .dataTable thead tr th:nth-child(1),
.list-table .dataTable thead tr th:nth-child(2),
.list-table .dataTable thead tr th:nth-child(3) {
    width: 240px;
}

header.globalHead.extend{
	min-height:100px !important;
}

#divNoItems .add-new-btn {
    margin-right: 0px;
}

@media (max-width: 1570px)
{
	.groupFilters {
		display: block;
		width: 100%;
		position: absolute;
		right: 0;
		text-align: right;
		padding-right: 19px;
		margin-top: 24px;
		padding-left: 15px;
	}
	
	.groupFilters div{
		text-align: left;
	}
	
	header.sales-role.extend {
		min-height:inherit !important;
	}
	
	.sales-role .groupFilters {
		position: relative;
		display: inline-block;
		margin-top: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

@media (max-width: 1430px) {
    /*.form-elements {
        display: block;
        text-align: left;
        margin-top: 17px;
        float: left;
        width: 100%;
    }

    .top-header .pageInfo form.advance-search {
        float: right;
        position: absolute;
        right: 1px;
        margin-left: 0;
        top: 10px;
    }

    .top-header .text-right {
        margin-top: -6px;
        float: left;
    }

    .top-header .showView {
        top: -3px;
    }*/

    .list-table.deal-table {
        overflow-x: auto;
        width: 100%;
        padding-bottom: 15px;
    }

	.list-table.deal-table table {
		width: 100%;
		min-width: 1250px;
	}
}

@media (max-width: 1199px) 
{
	 .dealList {
        margin-top: 15px;
        overflow-x: auto;
        width: 100%;
        padding-bottom: 15px;
    }
	
	.dealList #active-deal {
		min-width: calc(120vw - 30px);
	}
	
	.dealList #active-deal .col-3 {
        -ms-flex: 0 0 calc(30vw);
        flex: 0 0 calc(30vw);
        max-width: calc(30vw);
    }
	
	.dealList #inactive-deal {
		min-width: calc(90vw - 30px);
	}
	
    .dealList #inactive-deal .col-3 {
		-ms-flex: 0 0 calc(30vw);
        flex: 0 0 calc(30vw);
        max-width: calc(30vw);	
    }
	
    .deals-page .gridParent {
        padding-right: 0 !important;
    }

    .dealList .col-left-box {
        padding-right: 7.5px !important;
    }

    .dealList .col-right-box {
        padding-left: 7.5px !important;
    }

    .dealList .col-mid-box {
        padding-left: 7.5px !important;
        padding-right: 7.5px !important;
    }
}


@media (max-width: 1099px) 
{
	header.sales-role.extend {
		min-height:100px !important;
	}
	
	.sales-role .groupFilters {
		display: block;
		width: 100%;
		position: absolute;
		right: 0;
		text-align: right;
		padding-right: 19px;
		margin-top: 24px;
		padding-left: 15px;
	}
	
    /*.form-elements {
        margin-top: 10px;
    }

    .top-header .pageInfo form.advance-search {
        float: left;
        position: relative;
        right: 0;
        margin-left: 0px;
        top: 2px !important;
        margin-right: 3px;
    }*/
}

@media (max-width: 1080px) {
    /*.top-header div.text-right .right-wrap {
        position: absolute;
        top: 0;
        width: 200px;
        right: 15px;
    }*/
}

@media (max-width: 1024px) {
    .search-form .search-box input[type="text"] {
        width: 150px;
    }
}

@media (max-width: 949px) 
{
	.dealList #active-deal {
		min-width: calc(140vw - 30px);
	}
	
	.dealList #active-deal .col-3 {
        -ms-flex: 0 0 calc(35vw);
        flex: 0 0 calc(35vw);
        max-width: calc(35vw);
    }
	
	.dealList #inactive-deal {
		min-width: calc(105vw - 30px);
	}
	
    .dealList #inactive-deal .col-3 {
		-ms-flex: 0 0 calc(35vw);
        flex: 0 0 calc(35vw);
        max-width: calc(35vw);	
    }
}

@media (max-width: 859px) {
    .search-form .search-box input[type="text"] {
        width: 110px;
    }

    header.top-header .select2-container--classic .select2-selection--multiple,
    header.top-header .select2-container .select2-selection--single {
        width: 130px;
    }
	
	.top-header div.search-form{
		left:240px;
	}
	
	header.top-header a.dotsbtn {
		display: block;
		right: -37px;
		top: 0;
	}
	
	.top-header .showView.btn-group {
		margin-right: -20px;
	}
}

@media (max-width: 768px) 
{
	.dealList #active-deal {
		min-width: calc(200vw - 30px);
	}
	
	.dealList #active-deal .col-3 {
        -ms-flex: 0 0 calc(50vw);
        flex: 0 0 calc(50vw);
        max-width: calc(50vw);
    }
	
	.dealList #inactive-deal {
		min-width: calc(150vw - 30px);
	}
	
    .dealList #inactive-deal .col-3 {
		-ms-flex: 0 0 calc(50vw);
        flex: 0 0 calc(50vw);
        max-width: calc(50vw);	
    }
	
    header.top-header .add-new-btn a {
        margin-left: 5px;
    }
	
	.top-header .showView.btn-group {
		margin-right: 0px;
	}
}

@media (max-width: 592px) {
	
	body header.globalHead {
		padding-bottom: 5px;
	}
	
	header.sales-role.extend {
		min-height:inherit !important;
	}
	
	header.top-header a.dotsbtn {
		right: 0;
		position: absolute;
		left: 245px;
		top: -44px;
	}
	
    .top-header div.text-right {
        top: -12px;
        right: 10px;
    }
	.top-header .pageInfo .advance-search{
		margin-left:0!important;
	}

    .top-header .pageInfo form,
    .top-header .text-right,
    .top-header .search-form,
    .top-header .search-form .search-box,
    .top-header .search-form .search-box input[type="text"],
    .top-header .pageInfo form .select-box-wrp {
        width: 100%;
    }
	
	.sales-role .groupFilters ,
	.groupFilters {
		display: block;
		margin-top: 50px;
		padding: 0;
		position:relative;
	}

    header.top-header div.search-form {
        margin-bottom: 0px;
        float: left;
        width: 100%;
		left:0 !important;
		position:relative;
		margin-top: 16px;
    }

    .top-header .right-wrap {
		position: absolute;
		top: 1px!important;
		right: 15px!important;
	}

    .top-header .add-new-btn a {
        margin-left: 0;
        margin-right: 5px;
    }

    .top-header .pageInfo form .select-box-wrp .select2-selection {
        width: 100%;
        margin: 5px 0;
    }

    header.top-header .desk-btn {
        display: none;
    }

    header.top-header .add-new-btn.mob-btn {
        display: inline-block;
    }

    h1.page-title {
        margin-left: -2px;
    }

    .deal-blk .wc-wrp {
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #dde3ea;
        box-shadow: 0 0 6px 0 rgba(45, 48, 53, 0.05);
        margin-top: 7px;
        margin-bottom: 11px;
    }

	.deal-blk .wc-wrp.actv-deal {
		padding: 9px 12px 9px;
	}

	.deal-blk .wc-wrp.actv-deal table:last-child {
		border-top: 1px solid #dde3ea;
	}

	.deal-blk .wc-wrp.actv-deal table:last-child th {
		padding-top: 9px;
	}

    header.top-header .add-new-btn {
        margin-right: -3px;
    }
	
	.dealList #active-deal {
		min-width: calc(400vw - 80px);
	}
	
	.dealList #active-deal .col-3 {
        -ms-flex: 0 0 calc(100vw - 13px);
        flex: 0 0 calc(100vw - 13px);
        max-width: calc(100vw - 13px);
    }
	
	.dealList #inactive-deal {
		min-width: calc(300vw - 66px);
	}
	
    .dealList #inactive-deal .col-3 {
		-ms-flex: 0 0 calc(100vw - 13px);
        flex: 0 0 calc(100vw - 13px);
        max-width: calc(100vw - 13px);
    }
	
	.top-header .add-new-btn {
		margin-left: -10px;
	}
	
	.top-header  .add-new-btn a {
		padding: 5px 10px 5px 15px !important;
	}
	
	.showView button, .showView a {
		padding: 4px 6px 7px!important;
	}

}

.deal-card .card-label::after {
    padding-top: 10px;
}

@media (max-width: 450px) {
    .total-records {
        display: inline-block !important;
    }
	.top-header .add-new-btn {
        display: none!important;
    }
	
	header.top-header a.dotsbtn {
		left: 238px;
	}
}

@media (max-width: 365px) {
    .top-header .add-new-btn a {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .top-header .showView a {
        padding: 4px 6px 7px !important;
    }
	
	header.top-header a.dotsbtn {
		left: 180px;
		top: -45px;
	}	
}
