/*header and page content*/
.ibox-content {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    background-color: white;
}

.select2-selection--multiple {
    overflow: hidden !important;
    height: auto !important;
}

.input-group i {
    right: 10px;
    position: absolute;
    top: 10px;
}

/* alignments */
.center, .align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-justify {
    text-align: justify;
}

.middle {
    vertical-align: middle;
}

.align-middle {
    vertical-align: middle !important;
}

.align-top {
    vertical-align: top !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

/*form fields*/
.form-group {
    position: relative;
}

label.inputLabel {
    color: #bbb;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 99;
    display: none;
}

.filled label.inputLabel {
    display: block;
}

.form-group.filter-check-boxes {
    margin-top: 5px;
}

@media (max-width: 992px) {
    .form-group.filter-check-boxes {
        margin-top: -5px;
        margin-bottom: 20px;
    }
}

.form-group.filter-check-boxes > span {
    white-space: nowrap;
}

/* report settings drop down div */
#report-settings > ul {
    padding: 8px;
}

    #report-settings > ul > li {
        width: 310px !important;
    }

        #report-settings > ul > li > .form-group .select2 {
            width: 100% !important;
        }

#advanced-filter-tab {
    background: whitesmoke;
    cursor: pointer;
}

#btnExcel {
    color: #fff;
}

/* buttons */
button.btn.btn-success:active,
button.btn.btn-success:focus,
button.btn.btn-success,
a.btn.btn-success:active,
a.btn.btn-success:focus,
a.btn.btn-success {
    background-color: #1E92D2;
    border-radius: 1px;
    width: 150px;
    height: 36px;
    box-shadow: none;
}

    button.btn.btn-success:hover,
    a.btn.btn-success:hover {
        background-color: #106595;
    }

/*Report Content*/
#divReportContent .ibox-content {
    overflow-x: auto;
    background-color: transparent !important;
    color: inherit;
    padding: 20px 35px;
}

#tblActivityReport p {
    margin: 0px; 
}
#tblActivityReport   { 
    width: 160% !important;
}
.table-wrapper table .text-muted {
    opacity: 0.7;
}

#tblActivityReport .header-event-type {
    white-space: nowrap;
}

#tblActivityReport .header-edit {
    width: 60px;
}

@media (max-width: 1330px) {
    .list-table {
        overflow-x: auto;
        width: 100%;
        padding-bottom: 15px;
    }

        .list-table table {
            width: 100%;
            min-width: 1240px;
        }
}

@media (max-width: 499px) {
    #divToolbar .btn.btn-success {
        width: 120px !important;
        ;
    }
}
