/* header and content */
.DistrictAddEdit {
    padding: 15px;
}

/* inputs */
label.inputLabel {
    color: #BFCAD7;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 9;
    display: none;
}

.filled label.inputLabel {
    display: block;
}

input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #999 !important;
}

.DistrictAddEdit input[type="text"] {
    height: 36px;
    padding-left: 12px;
    background: #fff;
}

.DistrictAddEdit textarea {
    border-radius: 0;
    font-size: 13px;
    font-weight: 400;
    height: 118px;
    padding-top: 8px;
}

.iconField {
    position: relative;
}

#DistrictAddEdit .form-group .select2-selection {
    height: 36px;
}

.form-group {
    position: relative;
}

.iconField .iconWrap {
    position: absolute;
    height: 34px;
    background: #ecf0f4;
    width: 38px;
    z-index: 9;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #1e92d2;
    top: 1px;
    left: 1px;
}

label.inputLabel {
    color: #BFCAD7;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 9;
    display: none;
}

.filled label.inputLabel {
    display: block;
}

.select2-selection.select2-selection--single {
    padding-left: 3px;
}

.select2-container--classic .select2-selection--multiple {
    height: auto;
    min-height: 36px;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 7px;
    margin-left: 4px;
    font-size: 13px;
    color: #999;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    margin-right: 5px;
    margin-top: 8px;
    padding: 1px 5px 1px;
    color: #fff;
    font-size: 12px;
    border: 0;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    font-size: 15px;
    position: relative;
    top: 0px;
    margin-left: 7px;
}

.innerWrap {
    border: 1px solid #dde3ea;
    padding: 7px;
    background: #f7f9fa;
}

/* buttons */
.buttons .primary-btn {
    margin-left: 10px;
}

.buttons .cancel-btn {
    margin-left: 10px;
}

.form-btns > button {
    min-width: 150px;
    height: 38px;
    float: none;
    margin: 0px;
    padding: 0px;
}

@media (max-width: 560px) {
    .form-btns > button {
        min-width: 110px;
    }
}

@media (max-width: 440px) {
    .form-btns > button {
        min-width: 75px;
    }
}
