body {
    background-color: #ffffff;
    overflow-y: scroll;
}

.bootstrap-tagsinput {
    padding: 8px 12px 6px;
    min-height: 38px;
}

.ibox-no-margin {
    margin-top: -15px;
    margin-left: -20px;
    margin-right: -20px;
}

ul.typeahead {
    width: 90% !important;
    border-radius: 0;
}

.select2-container--classic .select2-results > .select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}

#divWonLostReason .select2-container {
    width: 100% !important;
}

@media (max-width: 767px) {

    .select2-container {
        width: 100% !important;
    }

    #ddlCompany .select2-container {
        width: 80% !important;
    }
}
