h1.page-title {
    margin-top: 1px !important;
}

.actvity-pg .top-header .pageInfo {
    top: 2px
}

.actvity-pg .filter-wrap {
    width: auto;
    top: 0;
}

button.close {
    margin-top: -11px !important;
}

.br-fields .select2-container--classic .select2-selection--multiple,
.br-fields .select2-container .select2-selection--single,
.br-fields .select2-container--default .select2-selection--multiple,
.br-fields input[type="text"],
.br-fields input[type="email"],
.br-fields input[type="password"] {
    height: 36px;
}

#divChartLoading {
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    margin-top: 15px;
}

.actvity-pg .events .event-wrap {
    padding: 13px 5px 13px;
}

.actvity-pg .task-wrap {
    padding: 13px 5px 13px 33px;
    position: relative;
    border-bottom: 1px solid #dde3ea;
}

.actvity-pg .event-wrap:last-child,
.actvity-pg .task-wrap:last-child {
	border: 0;
}

.task-wrap input[type="checkbox"]:not(:checked) + label:before{
    top: 4px;
}

.actvity-pg  .event-info{
	margin-top:2px;
}

.actvity-pg  .event-info div{
	margin-top:3px;
}

.actvity-pg a.edit-link,
.actvity-pg a.delete-link {
    position: absolute;
    right: 38px;
    z-index: 9;
}

.actvity-pg a.delete-link {
    right: 15px;
}

.actvity-pg .events .ev-datetime::before {
    top: 1px;
    font-size: 15px;
}

.actvity-pg .ev-loc {
    margin-top: 6px;
}

.actvity-pg .events .ev-guests {
    margin-top: 8px;
}

    .actvity-pg .events .ev-guests .ev-guest {
        top: 1px;
        color: #1E92D2;
    }

input[type="checkbox"]:not(:checked) + label::before,
input[type="checkbox"]:checked + label::before {
    top: 4px;
}

.ibox .ibox-title {
    padding: 8px 20px 8px;
    border-bottom: solid 2px #eef1f4;
    padding-right: 10px;
}


.ibox .ibox-title i.icon-active {
	margin-right: 8px;
	font-size: 20px;
}

.ibox .title-icon {
    top: 0px !important;
}

.actvity-pg .ibox .ibox-content {
    padding: 0;
}

.ibox-title h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

.add-new-btn {
    margin-right: 0px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#active-task,
#divEvents {
    margin: 0 15px;
}

.slimScrollBar {
    opacity: 1 !important;
    margin-top: 10px !important;
}

.act-chart div.ibox-content {
    padding: 20px !important;
}

.act-ctable td {
    font-size: 18px;
    padding: 3px 15px;
	text-align:right;
}

.act-ctable td:first-child {
	width: 325px;
	text-align:left;
}

#activity-chart {
    height: 400px !important;
}

.act-ctable tr:nth-child(odd) {
    background-color: #f7f9fa;
}

.act-chart {
    margin-top: 15px;
}

.act-chart .chart-btns {
	float: right;
	margin-right: -10px;
}

.act-chart .chart-btns a:first-child {
	margin-right: -5px;
}

#content {
    /*display: block !important;*/
}

img.act-icon {
    margin-right: 10px;
    margin-top: -2px;
    margin-left: -3px;
}

div.ui-datepicker {
}

#divListTasks {
    height: 100%;
}

.empty_event {
    position: relative;
    top: 50%;
    margin-top: -70px;
}

.modal-header {
    padding: 10px 1rem !important;
}

#divTasks .task-items i.iconbox{
	color:#888;
	margin-right: 8px;
	margin-left: 1px;
	font-size: 14px;
	float:left;
	margin-top:4px;
}

.actvity-pg .event-info .task-content span{
	display: block;
	max-height: 48px;
	overflow: hidden;
}
.actvity-pg .event-info div span.task-txt{
	float:left;
	max-height:inherit;
	width: calc(100% - 25px);
}

@media (max-width: 1040px) {
    .detail-pg #divEvents .row div.event-info {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 992px) {
    div.col-left-box,
    div.col-right-box {
        flex: inherit;
        max-width: 100%;
		padding:0 15px !important;
    }

    .note-list-wrp {
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .act-ctable {
        width: 100%;
    }

    #activity-chart {
        margin-top: 30px;
    }
}

@media (max-width: 599px) {
    .detail-pg #divEvents .row div.event-info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .actvity-pg .events .ev-guests {
        margin-top: 10px;
        margin-left: -7px;
    }

    .task-fields .col-right-box .input-field {
        margin-top: 15px;
    }

	#activity-chart {
		max-height: 350px;
		margin-left: -35px;
		width: calc(100% + 45px ) !important;
	}
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .wrapper-content {
        /*width: 1500px;*/
    }
}

@media (max-width: 470px) {
    .act-chart .chart-btns {
        width: 100%;
        margin-top: 10px;
        text-align: left;
		margin-right: 0;
    }

    .task-info {
        padding-right: 55px;
    }
}

#intercom-container, #iframeDetails .modal-footer {
    display: none !important;
}

#iframeDetails .modal-header button.closeX {
	font-size: 27px;
	color: #1e92d2;
	opacity: 1;
	right: 22px;
	top: 22px;
	outline:none;
}

#iframeDetails .modal-header button.closeX::after,
#iframeDetails .modal-header button.closeX::before {
	width: 26px;
}

button.closex:hover {
	transform: rotate(180deg);
	top: 12px!important;
}

#iframeDetails .modal-footer {
    background: #f7f9fa;
    padding: 10px 15px;
}

#iframeDetails .modal-content{
	border-radius:.3rem;
}


#iframeDetails #frm_popup {
	border-radius:0 0 .3rem .3rem;
}

#iframeDetails .modal-body {
    padding: 0px !important;
}

#tblActivities a {
    color: #1E92D2;
    cursor: pointer;
}

.ev-loc { 
    height: 30px !important;
}