/* mobile nav */
.mobile-panel-nav{
	display:none;
	padding:0 15px;
	margin-bottom:15px;
	margin-top:15px;
	width: 100%;
}
.mobile-panel-nav  ul.dropdown-nav li:hover {
	background-color: #1E92D2;
	box-shadow: none;
}
.mobile-panel-nav ul.nav-tabs li a {
	border-radius: 0;
	margin-right: 0;
}

.top-header .add-new-btn{
	margin-right:0 !important;
}
@media (max-width: 992px) {
	.mobile-panel-nav{
		display: block;
	}
}

/* button bar */
.list-table-btn-bar {
	margin: 12px 0px;
}
.add-new-btn {
	margin-right: 0;
	margin-left: 10px;
}
.wrapper .add-new-btn {
	margin-right: 0;
}
@media (max-width: 480px) {
	.list-table-btn-bar .descrip {
		display: none;
	}
}

/* list table */
table.list-table {
	overflow-x: hidden;
	overflow-y: hidden;
	table-layout: fixed;
}
.list-table table thead {
    background-color: #fff;
}
.list-table table tbody tr {
    cursor: pointer;
}
.list-table table tr th,
.list-table table tr td {
	text-transform: none;
	cursor: default;
	overflow: hidden;
}

.list-table table td:first-child {
   font-weight: 600;
}
.list-table table th:nth-child(7) {
    width: 80px;
}
.list-table table td:nth-child(7) {
	text-align: center;
}
#main td.action-cell a {
    color: #1e92d2;
}
.list-table a:hover, .list-table  a:focus {
	text-decoration: underline;
}
@media (max-width: 820px) {
	.list-table table th:nth-child(4), .list-table table th:nth-child(3) {
		display: none;
	}
	.list-table table td:nth-child(4), .list-table table td:nth-child(3) {
		display: none;
	}
}
@media (max-width: 440px) {
	.list-table table th:nth-child(2), .list-table table th:nth-child(5) {
		display: none;
	}
	.list-table table td:nth-child(2), .list-table table td:nth-child(5) {
		display: none;
	}
}