.location-box {
    min-height: 216px !important;
}

@media screen and (max-width:768px) {
    .location-box {
        text-align: center !important;
    }
}

.highlight {
    background-color: #D1EFE9;
    outline: 1px dashed #999;
    height: 59px;
}

.handle {
    cursor: move;
}

.ui-sortable-helper {
    outline: 1px solid #999;
    opacity: 0.9;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(221,221,221,0.8);
    -moz-box-shadow: 0px 0px 5px 1px rgba(221,221,221,0.8);
    box-shadow: 0px 0px 5px 1px rgba(221,221,221,0.8);
}

.ui-sortable-helper td {
    background-color: rgba(26, 179, 148, 0.15);
    padding: 12px;
}


.handle {
    cursor: move;
}


#companyEventCategories input[type="text"], form .new-category input[type="text"] {
    background-color: #FFFFFF;
    border: 1px solid #BFCAD7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), inset 0 0 5px 0 rgba(45, 48, 53, 0.2);
    width: 350px;
    height: 36px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #3E4955;
    padding-left: 10px;
}


#btnAddCategory {
    color: white;
    font-weight: bold;
    margin-left: 15px;
}

.new-category .color-picker {
    margin-left:12px;
}


.color-picker {
    margin-left: 12px;
    width: 100px;
}
