/* page and header */
.FW600 {
    font-weight: 500;
    font-size: 15px;
}

.error-text {
    color: #ed5565;
    font-weight: bold;
    padding-bottom: 3px;
}

.wrapper {
    margin-top: 15px;
}

header.top-header {
    border: solid 0px 0px 2px 0px #dde3ea;
}

a.text-muted{
	color: #212529 !important;
}

.top-header div.add-new-btn {
    top: 0px;
}

.globalHead .pageInfo {
    top: 2px;
}

.top-header .total-records {
    display: inline-block;
}

.users .mobile-header a.mobile-trigger {
    padding: 0;
    margin-top: -4px;
}

.total-records {
    color: #818d9c;
    font-size: 12px;
    margin-left: 8px;
}

/* list table */
table.list-table {
    overflow-x: hidden;
    overflow-y: hidden;
    table-layout: fixed;
}

.list-table table tbody tr {
    cursor: pointer;
}

.list-table table tr th,
.list-table table tr td {
    text-transform: none;
    cursor: default;
    overflow: hidden;
}

#users-list.list-table table tr th {
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 5px 12px 15px;
}

.list-table table td:first-child {
    font-weight: 600;
}

.list-table table th:nth-child(7) {
    width: 80px;
}

.list-table table td:nth-child(7) {
    text-align: center;
}

td.action-cell a {
    color: #1e92d2;
}

.list-table a:hover, .list-table a:focus {
    text-decoration: underline;
}

@media (max-width: 991px) {
    .list-table-btn-bar {
        margin-top: 10px;
    }
}


@media (max-width: 600px) {
    .list-table table th:nth-child(6), .list-table table th:nth-child(5) {
        display: none;
    }

    .list-table table td:nth-child(6), .list-table table td:nth-child(5) {
        display: none;
    }
}

@media (max-width: 575px) {
    .usernav_dd {
        position: absolute;
        top: -44px;
        right: 0;
        width: 117px;
    }

    .list-table-btn-bar {
        margin-top: 15px;
    }

    .top-header .add-new-btn a {
        margin-left: 0 !important;
    }
}

@media (max-width: 440px) {
    .list-table table th:nth-child(4), .list-table table th:nth-child(3) {
        display: none;
    }

    .list-table table td:nth-child(4), .list-table table td:nth-child(3) {
        display: none;
    }
}

/* left inputs (search box and filter) */
.search-boxes {
    position: realtive;
}

a#btnSearch {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 14px;
}

.search-box button {
    position: absolute;
    background: transparent;
    border: 0;
    cursor: pointer;
}

    .search-box button i {
        position: relative;
        color: #1e92d2;
        font-size: 14px;
        font-weight: 300;
    }

.users .search-box-wrap {
    width: 165px;
}

.users .select-box-wrp {
    margin: 0px 0px 0px 6px;
}

.users .select2-container--classic .select2-selection--multiple,
.users .select2-container .select2-selection--single {
    width: 165px;
    height: 32px;
    position: relative;
    margin-left: 0px;
    border: 1px solid #bfcad7;
    border-radius: 4px;
}

.users .select2-container--default .select2-selection--single .select2-selection__rendered {
    top: 0px;
}

@media (max-width: 536px) {
    .users .search-box-wrap, .users .select2-container--classic .select2-selection--multiple, .users .select2-container .select2-selection--single {
        width: 140px;
    }
}

@media (max-width: 414px) {
    .users .search-box-wrap, .users .select2-container--classic .select2-selection--multiple, .users .select2-container .select2-selection--single {
        width: 100px;
    }
}

@media (max-width: 320px) {
    .users .search-box-wrap, .users .select2-container--classic .select2-selection--multiple, .users .select2-container .select2-selection--single {
        width: 80px;
    }
}

/* right buttons (add/options) */
#content .list-table-btn-bar .btn-bar-btn {
    margin-right: 0px;
    margin-left: 0px;
}

    #content .list-table-btn-bar .btn-bar-btn .edit_link {
        background-color: #1e92d2;
        border-radius: 4px;
        max-width: 100%;
        font-size: 14px;
        color: #fff;
        width: auto;
        height: 32px;
        display: inline-block;
        line-height: 23px;
        text-align: center;
        padding: 5px 30px 5px 30px;
        cursor: pointer;
    }

@media (max-width: 536px) {
    #content .list-table-btn-bar .btn-bar-btn .edit_link {
        padding: 5px 10px 5px 20px;
    }
}

#content .btn-bar-btn i {
    position: relative;
    font-size: 13px;
    left: -10px;
}

#content .list-table-btn-bar .btn-bar-btn-options {
    margin-left: 6px;
}

#content .list-table-btn-bar .btn-bar-btn-options .edit_link {
	padding: 0;
	width: 28px;
}

#content .list-table-btn-bar .btn-bar-btn-options .edit_link i {
	color: #fff;
	font-size: 16px;
	position: relative;
	left: 0px;
	top: 5px;
}

        #content .list-table-btn-bar .btn-bar-btn-options .edit_link:hover {
            background-color: #106595 !important;
        }

#content .btn-bar-btn-options.btn-bar-btn.btn-bar-btn-active .edit_link {
    background-color: #106595 !important;
}

.btn-bar-btn-options .dd-menu {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 100%;
    right: 0px;
    padding-top: 5px;
    z-index: 1;
    transition: opacity .5s ease, visibility .5s ease;
}

.btn-bar-btn-options .items-wrapper {
    padding: 10px;
    background-color: white;
    border: solid 1px #dde3ea;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 0px #999;
}

.btn-bar-btn-options.btn-bar-btn-active .dd-menu {
    visibility: visible;
    opacity: 1;
}

.btn-bar-btn-options .dd-menu .dd-menu-item {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 5px 40px 5px 8px;
    border-radius: 0px 4px 4px 0px;
    border: solid 0px transparent;
    border-width: 0px 0px 0px 3px;
    color: #6d7b8c;
    text-align: left;
    cursor: pointer;
    transition: border-color .5s ease, background-color .5s ease, color .5s ease;
}

    .btn-bar-btn-options .dd-menu .dd-menu-item:hover, .btn-bar-btn-options .dd-menu .dd-menu-item:focus {
        background-color: #e6f1f6;
        color: #4877c8;
        border-color: #0077bc;
        outline: none;
    }

#content .btn-bar-btn-options .dd-menu .dd-menu-item i {
    display: inline-block;
    left: auto;
    top: 4px;
    margin-right: 6px;
    font-size: 19px;
}

/* toggle switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
    margin-bottom: 0px;
    line-height: normal;
}

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.toggle-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .toggle-switch-slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .toggle-switch-slider {
    background-color: #1e92d2;
}

input:focus + .toggle-switch-slider {
    box-shadow: 0 0 1px #1e92d2;
}

input:checked + .toggle-switch-slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

.toggle-switch-slider.round {
    border-radius: 22px;
}

    .toggle-switch-slider.round:before {
        border-radius: 50%;
    }

/* toggle switch - login enabled */
.toggle-switch-login-enabled {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 575px) {
    .list-table-btn-bar .col {
        display: none;
    }

    .list-table-btn-bar .mobileFull {
        width: 100%;
    }

        .list-table-btn-bar .mobileFull .col-auto {
            width: 50%;
        }

    .mobileFull .select-box-wrp,
    .users .search-box-wrap {
        width: 100% !important;
    }

    .top-header .select2-container .select2-selection--single {
        width: calc(100% - 7px) !important;
    }
}
