/* Next Card */
.next-card {
    background-image: linear-gradient(291deg, #0077bc, #036096);
    box-shadow: 0 1px 8px 0 rgba(33, 37, 41, 0.06);
    color: #fff;
}
    .next-card .ellipsis-txt {
        display: block;
    }

    .next-card .card-title {
        color: #fff;
    }

    .next-card .icon-double-arrow {
        display: inline-block;
        margin-right: 5px;
        width: 20px;
        height: 19px;
        background-size: cover;
        position: relative;
        top: 1px;
        color: #fff;
        font-size: 16px;
        left: 2px;
    }

    .next-card .link-next-activity, .next-card .link-next-activity:hover, .next-card .link-next-activity:visited {
        color: white;
    }

    .next-card.ibox .ibox-title {
        border-bottom: solid 2px #0e76bb;
    }

    .next-card .info-row {
        margin-top: 8px;
    }

    .next-card .card-label,
    .next-card .card-slabel,
    .next-card .empty-box .eb-title {
        color: #bde6f9;
    }

    .next-card .eb-title {
        font-size: 14px;
    }

    .next-card .time-icon,
    .next-card .adds-icon {
        position: relative;
        padding-left: 25px;
    }

        .next-card .time-icon::before {
            width: 16px;
            height: 16px;
            font-family: 'icomoon';
            content: "\e90e";
            color: #a8d1e4;
            font-size: 16px;
            position: absolute;
            left: 0px;
            top: -3px;
        }

        .next-card .adds-icon::before {
            width: 16px;
            height: 16px;
            font-family: 'icomoon';
            content: "\e920";
            color: #a8d1e4;
            font-size: 16px;
            position: absolute;
            left: 0px;
            top: -1px;
        }

    .next-card .icon-double-arrow {
        display: inline-block;
        margin-right: 5px;
        width: 20px;
        height: 19px;
        background-size: cover;
        position: relative;
        top: 1px;
        color: #fff;
        font-size: 16px;
        left: 2px;
    }

/* last Card */
.last-card .note-wrp {
    margin: 5px 0px;
    font-size: 13px;
}