/* alignments */
@import url('kpis-26Sep20181209.css');

.center,
.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .input-group-addon {
        display: none;
    }
}


.input-group i {
    right: 10px;
    position: absolute;
    top: 10px;
}

.align-justify {
    text-align: justify;
}

.middle {
    vertical-align: middle;
}

.align-middle {
    vertical-align: middle !important;
}

.align-top {
    vertical-align: top !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

/* report settings drop down div */
#report-settings > ul {
    padding: 8px;
}

    #report-settings > ul > li {
        width: 310px !important;
    }

        #report-settings > ul > li > .form-group .select2 {
            width: 100% !important;
        }

#advanced-filter-tab {
    background: whitesmoke;
    cursor: pointer;
}

.a-no-data {
    color: #676a6c !important;
    text-decoration: none !important;
}

    .a-no-data:hover, .a-no-data:focus {
        color: #676a6c !important;
        text-decoration: none !important;
    }

.select2-search__field {
    width: 100% !important;
}


form input[type="text"] {
    height: 38px !important;
}


button.btn.btn-success:active,
button.btn.btn-success:focus,
button.btn.btn-success,
a.btn.btn-success:active,
a.btn.btn-success:focus,
a.btn.btn-success {
    background-color: #1E92D2;
    border-radius: 1px;
    width: 150px;
    height: 36px;
    box-shadow: none;
}

    button.btn.btn-success:hover,
    a.btn.btn-success:hover {
        background-color: #106595;
    }


.btn-success {
    border-color: #1E92D2;
}


#divReportContent .ibox-content {
    overflow-x: scroll;
    background-color: #ffffff !important;
    color: inherit;
    padding: 20px 35px;
}

#divReportContent a {
    color: #1E92D2;
    cursor: pointer;
}


#intercom-container {
    display: none !important;
}


.modal-header button {
    display: none !important;
}

.modal-footer {
    background: #f7f9fa;
    padding: 10px 15px;
}

#frm_popup {
    padding-bottom: 50px !important;
}

.modal-body {
    padding: 0px !important;
}

#tblKpisReport a {
    text-decoration: underline;
}

.ibox-content {
    padding: 20px;
    background-color: white;
}


.form-group {
    position: relative;
}

.ui-datepicker-calendar .ui-state-active {
    background: #1E92D2 !important;
    color: white !important;
    padding: 5px 10px !important;
}

label.inputLabel {
    color: #bbb;
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    position: absolute;
    left: 11px;
    background: #fff;
    top: -6px;
    padding: 0 2px;
    z-index: 99;
    display: none;
}


.filled label.inputLabel {
    display: block;
}

.footer-actions .form-group{
	margin-bottom:0;
}

.footer-actions .form-group .inputLabel{

}

@media (max-width: 992px) {
	#divReportFilter .col{
		flex-basis: auto;
	}
}

@media (max-width: 575px) {
	.filters .toFilter{
		margin:15px 0;
	}
	
	.footer-actions{
		padding-top:22px !important;
	}
}